/*Button*/

.btn,
.btn:hover {
  margin: 5px;
  color: #FFF;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.btn  span{
      -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.btn.btn-default,
.btn.btn-default:hover {
    color: #333;
}
.round-10 {
  margin-top: 5px;
}
.button-red {
    background-color: #791606;
    border-color: rgba(#791606, 0.8);
    color: #FFFFFF;
}
.button-red:hover {
    background-color: rgb(195, 50, 74);
}
.button-teal {
    background-color: rgb(65, 113, 117);
    border-color: rgb(39, 68, 70);
}
.button-teal:hover {
    background-color: rgb(79, 133, 138);
}
.button-yellow {
    background-color: rgb(228, 191, 73);
    border-color: rgb(172, 140, 39);
}
.button-yellow:hover {
    background-color: rgb(247, 201, 53);
}
.button-green {
    background-color: rgb(64, 184, 34);
    border-color: rgb(44, 126, 23)
}
.button-green:hover {
    background-color: rgb(92, 204, 64);
}
.button-brown {
    background-color: rgb(139, 73, 35);
    border-color: rgb(103, 54, 25);
}
.button-brown:hover {
    background-color: rgb(145, 84, 49);
}
.button-aqua {
    background-color: rgb(42, 191, 204);
    border-color: rgb(28, 121, 129)
}
.button-aqua:hover {
    background-color: rgb(69, 199, 210);
}
.button-purple {
    background-color: rgb(102, 52, 91);
    border-color: rgb(79, 40, 71);
}

.button-purple:hover {
    background-color: rgb(125, 60, 111);
}
.button-dirtygreen {
    background-color: rgb(6, 127, 144);
    border-color: rgb(5, 88, 99);
}
.button-dirtygreen:hover {
    background-color: rgb(20, 162, 182);
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}
.colorCycle {
    background-color: rgb(50, 118, 177);
    border: 0;
    padding-top: 5px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    color: #FFF;
    text-align: center;
    animation-name: homeCycle;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    -webkit-animation-name: homeCycle;
    -webkit-animation-duration: 6s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
}
@keyframes /Angu {
    0% {
        background-color: rgb(71, 164, 71);
    }
    25% {
        background-color: rgb(57, 179, 215);
    }
    50% {
        background-color: rgb(237, 156, 40);
    }
    75% {
        background-color: rgb(210, 50, 45);
    }
}
@-webkit-keyframes homeCycle {
    0% {
        background-color: #006;
    }
    25% {
        background-color: #060;
    }
    50% {
        background-color: #CC3200;
    }
    75% {
        background-color: #603;
    }
}
.demoPadder {
    padding-top: 15px;
}
.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-outlined.btn-primary {
    background: none;
    border: 3px solid #428bca;
    color: #428bca;
}
.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
    color: #FFF;
    background: #428bca;
    border-color: #428bca;
}
.btn-outlined.btn-success {
    background: none;
    border: 3px solid #5cb85c;
    color: #5cb85c;
}
.btn-outlined.btn-success:hover,
.btn-outlined.btn-success:active {
    color: #FFF;
    background: #47a447;
}
.btn-outlined.btn-info {
    background: none;
    border: 3px solid #5bc0de;
    color: #5bc0de;
}
.btn-outlined.btn-info:hover,
.btn-outlined.btn-info:active {
    color: #FFF;
    background: #39b3d7;
}
.btn-outlined.btn-warning {
    background: none;
    border: 3px solid #f0ad4e;
    color: #f0ad4e;
}
.btn-outlined.btn-warning:hover,
.btn-outlined.btn-warning:active {
    color: #FFF;
    background: #ed9c28;
}
.btn-outlined.btn-danger {
    background: none;
    border: 3px solid #d9534f;
    color: #d9534f;
}
.btn-outlined.btn-danger:hover,
.btn-outlined.btn-danger:active {
    color: #FFF;
    background: #d2322d;
}
.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
}
.btn-sq {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}
.btn-sq-sm {
    width: 50px !important;
    height: 50px !important;
    font-size: 10px;
}
.btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding: 2px;
}
.btn-round {
    padding: 1px 15px 3px 2px;
    border-radius: 50px;
}
.btn-round span {
    padding: 8px;
    background: #ffffff;
    margin-right: 4px;
}
