.callToAction {
  position: relative;
}
.callToAction-inner{
  padding: 30px 200px 30px 30px;
}
.callToAction-btn {
  left: auto;
  margin: -18px 0 0;
  position: absolute;
  right: 52px;
  top: 50%;
}

@media (max-width: 991px) {
  .callToAction-inner{
    padding: 30px;
  }
  .callToAction-btn {
    text-align: center;
    position: relative;

  }
}
