.amtitle {
  margin-bottom: 30px;
  position: relative;
}
.amtitle h1, .amtitle h2, .amtitle h3, .amtitle h4, .amtitle h5, .amtitle h6 {
  background-color: #fff;
  display: inline-block;
  margin-bottom: 0;
  padding-right: 15px;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}
.amtitle h4, .amtitle h5, .amtitle h6 {
  padding-right: 10px;
}
.amtitle.title-double-border::before,
.amtitle.title-border::before,
.amtitle.title-double-border::after
{
  border-top: 3px solid #B52E31;
  content: "";
  height: 0;
  left: auto;
  position: absolute;
  right: 0;
  top: 40%;
  width: 100%;
}
.amtitle.title-double-border::after,
.amtitle.title-border::after,
.amtitle.title-border-color::after {
  border-top: 1px solid #B52E31;
  top: 54%;
}

.amtitle.shape-dotted::before,
.amtitle.shape-dotted::after {
    border-top-style: dotted;
}
.amtitle.shape-dash::before,
.amtitle.shape-dash::after {
    border-top-style: dashed;
}

.amtitle.shape-sd::after {
    border-top-style: dotted;
}

.amtitle.title-border::before {
  border-top: 1px solid #B52E31;
  top: 49%;
}

.amtitle.title-bottom-border h1, .amtitle.title-bottom-border h2, .amtitle.title-bottom-border h3, .amtitle.title-bottom-border h4, .amtitle.title-bottom-border h5, .amtitle.title-bottom-border h6 {
  background: transparent none repeat scroll 0 0;
  border-bottom: 2px solid #B52E31;
  display: block;
  padding: 0 0 10px;
}
.title-center {
  text-align: center;
}
.title-center h1, .title-center h2, .title-center h3 {
  padding: 0 15px;
}

.title-center h4, .title-center h5, .title-center h6 {
  padding: 0 10px;
}
.amtitle.title-right {
    text-align: right;
}
.amtitle.title-right h1,
.amtitle.title-right h2,
.amtitle.title-right h3,
.amtitle.title-right h4,
.amtitle.title-right h5,
.amtitle.title-right h6 {
    padding-right: 0;
    padding-left: 15px;
}
.amtitle h1 small, .amtitle h2 small, .amtitle h3 small, .amtitle h4 small, .amtitle h5 small, .amtitle h6 small {
    display: block;
    font-size: 40%;
    line-height: 2em;
}
.amtitle h4 small, .amtitle h5 small, .amtitle h6 small{
  font-size: 80%;
}
.amtitle.title3D {
    text-align: center;
}
.title3D h1 {
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
    display: block;
}
.title3D h1 span {
    display: inline-block;
    vertical-align: middle;
}
.title3D span.fa {
    font-size: 20px;
}
.title3D h3 {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    position: relative;
    display: block;
}
.title3D h3:before,
.title3D h3:after {
    content: " ";
    position: absolute;
    width: 100px;
    height: 8px;
    border-top: 2px solid #121212;
    border-bottom: 2px solid #121212;
}
.title3D h3:before {
    margin: 5px 0 0 -110px;
}
.title3D h3:after {
    margin: 5px 0 0 10px;
}
