/*General typhpography*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Philosopher:400,700);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
@import url("plugins.css");
@import url("component-title.css");
@import url("component-counter.css");
@import url("button.css");
@import url("icon-design.css");
@import url("pricingTable.css");
@import url("testimonials.css");
@import url("scrollbar.css");
body {
    text-indent: 0;
    font-size: 14px;
    text-align: left;
    font-family: 'Lato', Arial, sans-serif;
}
a {
    color: #991500;
    text-decoration: none;
}
a:hover {
    color: ##995c00;
    text-decoration: none;
}
p {
    font-family: 'Lato', Arial, sans-serif;
    color: #2e2e2e;
}
.round-10 {
    border-radius: 10px;
}
.margin-bottom {
    margin-bottom: 30px;
}
.padding-top{
  padding-top: 50px;
}
.last {
    margin-right: 0;
    padding-right: 0;
}
.component {
    display: block;
    margin: 30px 0;
    overflow: hidden;
    padding: 20px 0;
}

/*header-top-----------------------------*/
/**************Header classic***************************/

header#header {
  position: relative;
  display: block;
}
.header-top {
  position: relative;
  width: 100%;
  display: block;
  min-height: 48px;
}
.contact-info {
  left: 100px;
  position: absolute;
  top: 9px;
}
.navbar-app .email, .navbar-app .phpne {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.cart-profile {
  position: absolute;
  right: 0;
  width: 247px;
}
.navbar-app .my-account {
  float: left;
  font-size: 25px;
  margin-right: 10px;
  padding: 7px;
  text-align: center;
}.shopping-cart-icon {
  display: inline-block;
  position: relative;
  width: 200px;
}.shopping-cart-icon .fa-shopping-cart {
  display: inline-block;
  float: left;
  font-size: 23px;
  margin-top: 10px;
  overflow: hidden;
}.shopping-cart-icon .items-inner {
  display: block;
  float: left;
}.items-inner > strong {
  display: block;
  text-transform: uppercase;
}
.navigation-button {
  font-size: 25px;
  left: 4px;
  position: absolute;
  top: 0;
}
.headerClassic.has-navbar-top .app-body {
  padding-top: 119px;
}

/*logo bar-----------------------------*/

.logo-container {
  position: absolute;
  left: 90px;
}
.logo-container img {
  height: auto;
  width: 230px;
}
/*mainmenu-----------------------------*/

.dropdown.mega-dropdown > ul > li {
  display: inline-block;
  float: left;
  min-width: 250px;
  overflow: hidden;
  padding-left: 26px;
  width: 24%;
}
nav.main_menu {
    margin:0;
}
.dropdown-menu {
    left: auto;
}
.main_menu .dropdown .dsign {
  display: none;
}
.main_menu ul li:last-child .dropdown-menu{
  right: 0 !important;
}
.main_menu ul a span.fa {
    display: block;
    text-align: center;
}
.nav-squer > li > a {
  background: transparent none repeat scroll 0 0;
  font-size: 18px;
  max-height: 100px;
  padding: 10px 34px;
  text-transform: uppercase;
}
.nav-squer .open > a,
.nav-squer .open > a:focus,
.nav-squer .open > a:hover,
.nav-squer > li > a:hover,
.nav-squer > li > a:focus {
    background: #995c00 none repeat scroll 0 0;
    color: #FFFFFF;
}
/*mega menu*/

.mega-dropdown {
    position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    right:0 !important;
}
.nav.navbar-nav {
  float: right;
  display: inline-block;
}
.nav.navbar-nav > li {
  display: inline-block;
  float: left;
}
.main_menu .dropdown-menu span.fa {
  display: inline-block;
  margin-right: 10px;
}
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    color: #222;
    padding: 3px 5px;
}
.mega-dropdown-menu > li > ul > li > a:hover {
  -ms-transform: translateX(10px);
   -webkit-transform: translateX(10px);
   transform: translateX(10px);
   color:rgba(153, 21, 0, 1);
   -webkit-transition-delay: 200ms;
   transition-delay: 2s;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #242424;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}
/* Medium Devices, Desktops */
.sidebar .navbar {
  margin: 0 !important;
  padding: 0;
}
.sidebar .nav.navbar-nav {
  margin: 0;
  float: none;
  clear: both;
}
.sidebar .nav  li {
  border-bottom: 1px solid #ddd;
  display: inline-block;
  width: 100%;
  position: relative;
}.sidebar .navbar  li  a {
  display: block;
  font-size: 16px;
  padding: 8px;
  text-transform: uppercase;
}
.navbar-nav .dropdown .dropdown-menu > li > a, .navbar-nav .dropdown .dropdown-menu .dropdown-header {
  padding: 8px 15px 8px 25px;
}
.list-group-item.active, .list-group-item.active:focus {
  background-color: rgb(153, 92, 0);
  border-color: #FFF;
  color: #ffffff;
  z-index: 2;
}
.mega-dropdown-menu  li  ul  li  a.list-group-item:hover,
a.list-group-item:hover, button.list-group-item:hover {
  background-color: rgb(153, 92, 0);
  color: #FFF;
  text-decoration: none;
  transform: translateX(0px);
  transition-delay: 0s;
}
.sidebar .nav .fa {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}
.sidebar .dropdown .dsign {
  position: absolute;
  right: 7px;
  top: 12px;
}
.small-view .app-content nav.navbar {
  display: none;
}
.sidebar .dropdown-menu {
  border: medium none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.sidebar .dropdown.mega-dropdown > ul > li {
  padding: 0;
  width: 100%;
}
.dropdown-menu > li {
  width: 100%;
}
.sidebar .list-group-item {
  font-size: 16px;
  line-height: 1.3em;
  padding: 8px;
}
.large-view .nav.navbar-nav.pull-right.nav-squer > li {
  display: inline-block;
}
.dropdown-menu {
  display: none;
}
/*footer-----------------------------*/

.textwidget .eFeatures {
    border-right: 1px solid #fff;
    float: left;
    margin-right: 20px;
    width: 23%;
}
.textwidget .eFeatures:last-child {
    border-right: medium none navy;
    margin-right: 0;
}
.textwidget .icon-image span {
    color: #c3c3c3;
    display: inline-block;
    font-size: 40px;
    position: relative;
}
.textwidget .icon-image {
    display: inline-block;
}
.textwidget {
    display: block;
    overflow: hidden;
    color: #fff;
}
.textwidget .icon-text {
    display: inline-block;
    margin: 12px 5px;
}
.widgets .widget_text {
    border-bottom: 1px solid #bcbcbc;
    display: block;
    overflow: hidden;
    padding: 15px 0;
    position: relative;
}
.icon-text > h4 {
    color: #fff;
    font-family: icon;
    font-size: 14px;
    margin: 0;
}
section.fooret-caontainer {
    background-color: #995c00;
    background-image: url("../images/footer.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 0;
}
.footer-bottom img {
    /* background: #444 none repeat scroll 0 0;*/

    padding: 5px;
}
.copy-right p {
    margin: 20px 0;
    text-align: center;
}
.footer .footer-bottom {
    padding-top: 45px;
}
.footer .copy-right {
    color: #fff;
}
/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}
/* footer social icons */

.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}
.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}
.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}
.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}
.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}
a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}
.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}
/*slider-----------------------------*/
.flexslider.front-pagestyle1{
  width: 100%;
  height: 600px;
  max-height: 600px;
  overflow: hidden;
  display: block;
}
.flexslider.front-pagestyle1 .slides img {
  -moz-user-select: none;
  height: 600px;
}
.flexslider li {
		position: relative;
}

.flexslider li .caption {
		position: absolute;
		bottom: 200px;
		left: 50px;
		color: white;
		display: block;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
}

.flexslider li h1 {
		background: rgba(51, 51, 51, 0.5);
		padding: 12px 18px 12px;
		margin-bottom: 20px;
		font-size: 1.8em;
		font-weight: 300;
}

.flexslider li h2 {
		background: rgba(51, 51, 51, 0.5);
		padding: 13px 18px 11px;
		font-size: 1.1em;
		margin-bottom: 20px;
		font-weight: 300;
}
.flexslider li .caption a {
  display: inline-block;
  margin-right: 17px;
}

.flexslider li.flex-active-slide .caption a,
.flexslider li.flex-active-slide .caption h1,
.flexslider li.flex-active-slide .caption h2 {
		-webkit-animation-delay: .6s;
		animation-delay: .6s;
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeInDown;
		animation-name: fadeInDown;
}

.flexslider li.flex-active-slide .caption h2 {
		-webkit-animation-delay: .7s;
		animation-delay: .7s;
}



.flex-direction-nav {
		position: absolute;
		top: 0;
		left: 30px;
}

.flex-direction-nav a {
		text-decoration: none;
		display: block;
		width: 30px;
		height: 30px;
		background-color: #333;
		margin: -20px 0 0;
		position: absolute;
		top: 50px;
		z-index: 10;
		overflow: hidden;
		opacity: .5;
		cursor: pointer;
		color: #fff;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		transition: all .3s ease;
}

.flex-direction-nav .flex-prev {
		text-align: left;
		left: -10px;
}

.flex-direction-nav .flex-next {
		text-align: right;
		left: 30px;
}

.flexslider:hover .flex-direction-nav .flex-prev {
		left: -10px;
}

.flexslider:hover .flex-direction-nav .flex-next {
		left: 30px;
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
		opacity: 1;
}

.flex-direction-nav a:before {
		font-family: FontAwesome;
		content: '\f104';
		font-size: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		top: -6px;
		padding: 2px;
}

.flex-direction-nav a.flex-next:before {
		content: '\f105';
}
/*body content-----------------------------*/
/*front-page---------------------------*/

  .flex-wrapper {
    display: inline-block;
    width: 310px;
    height: 100px;
    vertical-align: top;
    margin: 1em 1.5em 2em 0;
    cursor: pointer;
    position: relative;
    font-family: Tahoma, Arial;
    -webkit-perspective: 4000px;
       -moz-perspective: 4000px;
        -ms-perspective: 4000px;
         -o-perspective: 4000px;
            perspective: 4000px;
  }

  .image-flex .item {
    height: 100px;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transition: -webkit-transform .6s;
         -moz-transition: -moz-transform .6s;
          -ms-transition: -ms-transform .6s;
           -o-transition: -o-transform .6s;
              transition: transform .6s;
  }
    .image-flex .item:focus,
    .image-flex .item:hover {
      -webkit-transform: translateZ(-50px) rotateX(95deg);
         -moz-transform: translateZ(-50px) rotateX(95deg);
          -ms-transform: translateZ(-50px) rotateX(95deg);
           -o-transform: translateZ(-50px) rotateX(95deg);
              transform: translateZ(-50px) rotateX(95deg);
    }

      .image-flex .item:focus img,
      .image-flex .item:hover img {
        box-shadow: none;
        border-radius: 15px;
      }

      .image-flex  .item:focus .information,
      .image-flex  .item:hover .information  {
        box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
        border-radius: 3px;
      }

    .image-flex .item img {
      display: block;
      position: absolute;
      top: 0;
      border-radius: 3px;
      box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
      -webkit-transform: translateZ(38px);
         -moz-transform: translateZ(38px);
          -ms-transform: translateZ(38px);
           -o-transform: translateZ(38px);
              transform: translateZ(38px);
      -webkit-transition: all .6s;
         -moz-transition: all .6s;
          -ms-transition: all .6s;
           -o-transition: all .6s;
              transition: all .6s;

    }

    .image-flex .item .information {
      display: block;
      position: absolute;
      top: 0;
      height: 100px;
      width: 310px;
      text-align: left;
      border-radius: 15px;
      padding: 10px;
      font-size: 12px;
      text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
      box-shadow: none;
      background: rgb(236,241,244);
      background: -moz-linear-gradient(top,  rgba(236,241,244,1) 0%, rgba(190,202,217,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,241,244,1)), color-stop(100%,rgba(190,202,217,1)));
      background: -webkit-linear-gradient(top,  rgba(236,241,244,1) 0%,rgba(190,202,217,1) 100%);
      background: -o-linear-gradient(top,  rgba(236,241,244,1) 0%,rgba(190,202,217,1) 100%);
      background: -ms-linear-gradient(top,  rgba(236,241,244,1) 0%,rgba(190,202,217,1) 100%);
      background: linear-gradient(to bottom,  rgba(236,241,244,1) 0%,rgba(190,202,217,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf1f4', endColorstr='#becad9',GradientType=0 );
      -webkit-transform: rotateX(-90deg) translateZ(50px);
         -moz-transform: rotateX(-90deg) translateZ(50px);
          -ms-transform: rotateX(-90deg) translateZ(50px);
           -o-transform: rotateX(-90deg) translateZ(50px);
              transform: rotateX(-90deg) translateZ(50px);
      -webkit-transition: all .6s;
         -moz-transition: all .6s;
          -ms-transition: all .6s;
           -o-transition: all .6s;
              transition: all .6s;

    }

      .image-flex .information strong {
        display: block;
        margin: .2em 0 .5em 0;
        font-size: 20px;
        font-family: "Oleo Script";
      }
      .content-block-outer {
        background-image: url("../images/bg-masthead-branded.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 82px;
        margin-top: 50px;
        color: #FFF;
        padding-bottom: 50px;
      }
      .content-block-outer p {
        color: #ddd;
      }
      .content-block-outer .content-box-icon-top .content-box-icon {
        background: transparent;
      }
/*front page products---------------------------*/
/*meadia queary--------------------------*/
.products-block-container {
  width: 100%;
  position: relative;
  display: block;
}
.products-block-inner {
  padding:  20px 50px;
}
.products-entry {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}
.product-outer{
  float: left;
  position: relative;
  overflow: hidden;
  display: block;
}
.fout-products-per-row .product-outer {
  width: 25%;
}
.three-products-per-row .product-outer {
  width: 33.333333%;
}
.list-view .product-outer{
  width: 100%;
  float: none;
  clear: both;
}

.three-products-per-row .product-inner{
  padding: 20px;
  margin-right: 20px;
  height: 550px;
}
.product-inner {
  padding: 10px;
  margin-right: 10px;
  height: 450px;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.product-inner:hover {
  background: #f00;
  color: #fff;
}

.feature-image {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.three-products-per-row .feature-image{
  height: 450px;
}
.feature-image img{
  width: 100%;
  height: auto;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.product-inner:hover .feature-image img{
  -webkit-transform:scale(1.1,1.1);
  -moz-transform:scale(1.1,1.1);
  -ms-transform:scale(1.1,1.1);
  -o-transform:scale(1.1,1.1);
  transform:scale(1.1,1.1);
}
.product-bottom h3 {
  font-size: 18px;
  margin: 20px 0 10px;
}
.product-bottom span {
  font-size: 18px;
}
.product-button {
  position: absolute;
  top: 50px;
  left: 0;
}

.product-button a {
  display: block;
  background: #210e0e;
  margin-bottom: 3px;
  color: #fff;
  padding: 5px;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  max-width: 30px;
  overflow: hidden;
}
.product-inner:hover .product-button a{
  max-width: 300px;
}
.product-button a span.fa {
  font-size: 18px;
}
.product-button a span.text {
  opacity: 0;
  text-indent: -6px;
  margin-left: 3px;
    padding-left: 3px;
    border-left: 1px solid #FFF;
  display: inline-block;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.product-inner:hover .product-button span.text{
  opacity: 1;
  text-indent: 0px;
}

.products-category-outer {
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
}
.products-cat-entry ul li a {
  border: 1px solid #ddd;
  padding: 12px 33px;
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
}

/*list view*/
.list-view .feature-image {
  float: left;
  width: 300px;
  margin-right: 30px;
}
.list-view .product-inner{
    height: auto;
    border-bottom: 1px solid #777;
    overflow: hidden;
}
.list-view .product-button {
  position: relative;
}
.list-view .product-button a {
  display: inline-block;
  max-width: 115px;
  width: 115px;
}
.list-view .product-inner:hover .product-button a{
  max-width: 115px;
  width: 115px;
}
.list-view .product-button a span.text {
  opacity: 1;
  text-indent: 1px;
}
.list-view .product-inner:hover{
  background: #FFF;
  color: #333;
}
/*mobile fixing*/
.large-view .app {
  margin-left: 0;
}
.scrollable-content {
  background: #FFF;
}

.small-view .navigation-container {
  display: none;
}
@media only screen and (max-width: 992px) {
  .flex-caption {
  left: 23%;
  top: 20%;
  width: 400px;
}
.flex-caption > h1 {
  font-size: 4em;
}
.flex-caption > strong {
  font-size: 2em;
}

}
/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {

  .flex-caption {
    left: 18%;
    top: 10%;
    width: 200px;
  }
    .flex-caption > h1 {
      font-size: 1em;
    }
    .flex-caption > strong {
      font-size: 1em;
    }
    .caption-inner a.btn {
      margin-right: 10px;
      padding: 5px;
      font-size: 1em;
    }
    ol.flex-control-nav {
    display: none;
    }
    .shopping-cart-icon .items-inner {
  display: none;
}
.cart-profile {
  width: 93px;
}
.shopping-cart-icon {
  width: 40px;
}
}
/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  .flex-caption {
    left: 18%;
    top: 10%;
    width: 200px;
  }
      .flex-caption > h1 {
      font-size: 1.5em;
    }
    .flex-caption > strong {
      font-size: 1em;
    }
    .caption-inner a.btn {
      margin-right: 10px;
      padding: 5px;
      font-size: 1em;
    }
    ol.flex-control-nav {
    display: none;
    }
    .shopping-cart-icon .items-inner {
        display: none;
    }.cart-profile {
      width: 93px;
    }
    .shopping-cart-icon {
      width: 40px;
    }
}
/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
      .flex-caption {
        left: 18%;
        top: 10%;
        width: 200px;
      }
      .flex-caption > h1 {
      font-size: 1.2em;
    }
    .flex-caption > strong {
      font-size: 1em;
    }
    .caption-inner a.btn {
      margin-right: 10px;
      padding: 5px;
      font-size: .8em;
    }
    ol.flex-control-nav {
    display: none;
    }

    .shopping-cart-icon .items-inner {
          display: none;
    }.cart-profile {
      width: 93px;
    }
    .shopping-cart-icon {
      width: 40px;
    }

}
