/*content box style*/
.content-box {
  display: table;
  overflow: hidden;
  position: relative;
  color: #474747;
}
.content-box .content-box-outer {
  margin: 5px;
}
.content-box .content-box-inner {
  overflow: hidden;
  clear: both;
}
.content-box .content-box-content{
  padding: 10px;
  overflow: hidden;
  display: inline-block;
}
.content-box h1, .content-box h2, .content-box h3, .content-box h4, .content-box h1 a, .content-box h2 a, .content-box h3 a, .content-box h4 a {
  color: #474747;
  margin: 15px 0px;

}
.content-box h1 a:hover, .content-box h2 a:hover, .content-box h3 a:hover, .content-box h4 a:hover{
  color: #b52e31;
}
.content-box h1 small, .content-box h2 small, .content-box h3 small, .content-box h4 small{
  display: block;
}
.content-box p{
    color: #474747;
}

.content-box .content-box-image {
    width: 100%;
    overflow: hidden;
    display: block;
}
.content-box .content-box-image img,
.content-box .content-box-image iframe {
    width: 100%;
    height: auto;
}

.content-box .content-box-image img {
    transform: scale(1);
    transition: .4s;
    opacity: 1;
}
.content-box:hover .content-box-image img {
    transform: scale(1.1);
    transition: .4s;
    opacity: 0.9;
}
.content-box-button {
  margin:10px 0px;
  padding-left: 10px;
}
.content-box.cb-border .content-box-inner{
  border: 1px solid #ddd;
  padding: 0;
}

.content-box.cb-image-left .content-box-image {
  width: 40%;
  min-width: 150px;
  display: table;
  float: left;
}
.content-box.cb-image-left .content-box-content{
  width: 60%;
  min-width: 150px;
  float: left;

}

.content-box.cb-image-right .content-box-image{
  width: 40%;
  min-width: 150px;
  display: table;
  float: right;
}
.content-box.cb-image-right .content-box-content{
  width: 60%;
  min-width: 150px;
  float: left;
}
.content-box.cb-image-right h1, .content-box.cb-image-right h2, .content-box.cb-image-right h3, .content-box.cb-image-right h4, .content-box.cb-image-right h1 a, .content-box.cb-image-right h2 a, .content-box.cb-image-right h3 a, .content-box.cb-image-right h4 a ,
.content-box.cb-image-left h1, .content-box.cb-image-left h2, .content-box.cb-image-left h3, .content-box.cb-image-left h4, .content-box.cb-image-left h1 a, .content-box.cb-image-left h2 a, .content-box.cb-image-left h3 a, .content-box.cb-image-left h4 a {
  margin: 4px 0px;

}
.content-box .content-box-tag {
  display: block;
  margin-top: 10px;
  overflow: hidden;
}
.content-box .content-box-tag  a {
  border: 1px solid #ddd;
  color: #b52e31;
  display: inline-block;
  padding: 5px;
  font-size: 10px;
}
.content-box .content-box-tag  a:hover {
  background: #b52e31 none repeat scroll 0 0;
  color: #fff;
  opacity: 1;
}
/*icon*/
.content-box .content-box-icon {
  position: relative;
  width: 100%;
}
.content-box.cb-icon-right .content-box-icon{
  display: inline;
  float: right;
  overflow: hidden;
  text-align: center;
  width: 30%;
  margin-top: 10px;
}
.content-box.cb-icon-right .content-box-content{
  float: left;
  padding-top: 0;
  width: 70%;
  text-align: justify;
}
.content-box.cb-icon-left .content-box-icon {
  display: inline;
  float: left;
  overflow: hidden;
  text-align: center;
  width: 30%;
  margin-top: 10px;
}
.content-box.cb-icon-left .content-box-content {
  float: left;
  padding-top: 0;
  width: 70%;
  text-align: justify;
}
.content-box.cb-icon-left .content-box-button, .content-box.cb-icon-right .content-box-button{
  padding-left: 0;
}
