/*header-top-----------------------------*/
/**************Header classic***************************/
.has-navbar-top .app-body {
  padding-top: 116px;
}
.header-top {
  background: #b52e31 none repeat scroll 0 0;
  color: #f5f5f5;
  display: block;
  height: 36px;
  position: relative;
  width: 100%;
}
.header-top .dropdown-menu {
  color: #474747;
}
#header .header-top .btn-group.socialInfo {
  float: left;
}
#header .header-top a {
  border: medium none;
  color: #f5f5f5;
  font-size: 20px;
  height: 30px;
  line-height: 1em;
  margin: 2px;
  padding: 5px;
  text-align: center;
  text-transform: unset;
}
#header .header-top .dropdown-menu a {
  color: #474747;
  font-size: 14px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
#header .header-top .dropdown-menu li:last-child a {
  border: medium none;
}
#header .header-top i {
  margin-right: 10px;
}
#header .header-top span{
  font-size: 14px;
}
.header-top .userAccount {
  display: inline-block;
  float: right;
  height: 36px;
}
#header .header-top  .shopping-cart-icon {
  display: inline-block;
}
#header .header-top .shopping-cart-icon > a {
  padding: 5px;
  display: block;
}
#header .header-top .shopping-cart-icon > a {
  display: block;
  padding: 0;
  position: relative;
  top: 10px;
}
#header .header-top .shopping-cart-icon span {
  background: yellow none repeat scroll 0 0;
  border-radius: 5px;
  color: #333;
  left: -14px;
  padding: 3px;
  position: relative;
  top: -12px;
}
/*logo bar-----------------------------*/
.header-bottom {
  position: relative;
  display: block;
}
.logo-container {
  display: inline-block;
  float: left;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.logo-container img {
  height: auto;
  width: 230px;
}
/*toggle navigation*/
.sidebar-toggle{
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid #fa0;
  border-top: 3px solid #fa0;
  font-size: 32px;
  cursor: pointer;
  height: .7em;
  margin: .2em .15em;
  outline: 0;
  position: relative;
  -webkit-transition: border-color 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: border-color 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: border-color 150ms ease-out, transform 150ms ease-out;
  transition: border-color 150ms ease-out, transform 150ms ease-out, -webkit-transform 150ms ease-out;
  width: 1.25em;
  float: left;
}
.sidebar-toggle::after, .sidebar-toggle::before {
  border-bottom: 3px solid #fa0;
  bottom: .25em;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}
.sidebar-toggle span {
  color: transparent;
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
}

.sidebar-left-visible .sidebar-toggle {
  border-color: transparent;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}
.sidebar-left-visible .sidebar-toggle::after, .sidebar-toggle::before {
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}
.sidebar-left-visible .sidebar-toggle::after {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.sidebar-left-visible .sidebar-toggle::before {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
/************primary navigation *******************************************************/

#primary-menu {
	float: right;
	height: 80px;
}

#header #primary-menu > ul {
	float: left;

}
#primary-menu ul {
	list-style: none;
	height: 80px;
	margin: 0;
}

#primary-menu > ul { float: left; }

#primary-menu ul li {
	position: relative;
	float: left;
	margin-left: 2px;
}

#primary-menu ul li.mega-menu { position: inherit; }

#primary-menu ul li:first-child { margin-left: 0; }

#primary-menu ul li a {
	display: block;
	height: 80px;
	line-height: 80px;
	padding: 0 15px;
	color: #474747;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	-webkit-transition: height .4s ease, line-height .4s ease, margin .4s ease, padding .4s ease;
	-o-transition: height .4s ease, line-height .4s ease, margin .4s ease, padding .4s ease;
	transition: height .4s ease, line-height .4s ease, margin .4s ease, padding .4s ease;
}

#primary-menu ul li span { display: none; }

#primary-menu ul li i {
	position: relative;
	font-size: 14px !important;
	top: 1px;
	line-height: 80px;
	width: 14px;
	text-align: center;
	margin-right: 6px;
	-webkit-transition: line-height .4s ease;
	-o-transition: line-height .4s ease;
	transition: line-height .4s ease;
}

#primary-menu > ul > li:hover a,
#primary-menu > ul > li.active a { color: #b52e31; }

#primary-menu > ul > li.sub-menu > a > div { }

#primary-menu ul ul,
#primary-menu ul li .mega-menu-content {
	display: none;
	position: absolute;
	width: 220px;
	background-color: #FFF;
	box-shadow: 0px 13px 42px 11px rgba(0, 0, 0, 0.05);
	border: 1px solid #EEE;
	border-top: 2px solid #b52e31;
	height: auto;
	z-index: 199;
	top: 80px;
	left: 0;
	margin: 0;
}

#primary-menu ul ul ul {
	top: -2px !important;
	left: 218px;
}

#primary-menu ul ul.menu-pos-invert,
#primary-menu ul li .mega-menu-content.menu-pos-invert {
	left: auto;
	right: 0;
}

#primary-menu ul ul ul.menu-pos-invert { right: 218px; }

#primary-menu ul ul li {
	float: none;
	margin: 0;
}

#primary-menu ul ul li:first-child { border-top: 0; }

#primary-menu ul ul a {
	font-size: 12px;
	font-weight: 600;
	height: auto !important;
	line-height: 22px !important;
	color: #666 !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	border: 0 !important;
	letter-spacing: 0;
	font-family: 'Lato', sans-serif;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#primary-menu ul ul li:hover > a {
	background-color: #F9F9F9;
	padding-left: 18px;
	color: #b52e31 !important;
}

#primary-menu ul ul i { line-height: inherit; }

#primary-menu ul ul > li.sub-menu > a,
#primary-menu ul ul > li.sub-menu:hover > a {
	background-image: url("../images/icons/submenu.png");
	background-position: right center;
	background-repeat: no-repeat;
}

#primary-menu .mega-menu-title {
  display: block;
  overflow: hidden;
  height: 50px !important;
  line-height: 50px !important;
  font-weight: bold;
  font-size: 16px;
  padding: 0 15px;
}

/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/


#primary-menu ul li .mega-menu-content,
#primary-menu ul li.mega-menu-small .mega-menu-content { width: 400px; }

#primary-menu ul li.mega-menu .mega-menu-content{
	margin: 0 15px;
	width: 1140px;
  top: 80px;
}

#primary-menu ul li.mega-menu .mega-menu-content {
	margin: 0;
	width: 1220px;
}


#primary-menu ul li .mega-menu-content ul {
	display: block;
	position: relative;
	top: 0;
	min-width: inherit;
}

#primary-menu ul li .mega-menu-content > ul { float: left; }

#primary-menu ul li .mega-menu-content ul:not(.megamenu-dropdown) {
	display: block !important;
	opacity: 1 !important;
	top: 0;
	left: 0;
}

#primary-menu ul li .mega-menu-content.col-2 > ul,
#primary-menu ul li .mega-menu-content.col-3 > ul,
#primary-menu ul li .mega-menu-content.col-4 > ul,
#primary-menu ul li .mega-menu-content.col-5 > ul {
	width: 50%;
	margin: 0;
	border-left: 1px solid #F2F2F2;
}

#primary-menu ul li .mega-menu-content.col-3 > ul { width: 33.33%; }

#primary-menu ul li .mega-menu-content.col-4 > ul { width: 25%; }

#primary-menu ul li .mega-menu-content.col-5 > ul { width: 20%; }

#primary-menu ul li .mega-menu-content > ul:first-child { border-left: 0; }

#primary-menu ul li .mega-menu-content ul a {
	height: 42px;
	line-height: 42px;
}

#primary-menu ul li .mega-menu-content ul {
	width: 100%;
	border: 0;
	box-shadow: none;
	background-color: transparent;
}

/***************************  sidebar navigation  *****************************/
.sidebarNav #primary-menu {
  float: none;
  height:auto;
}
.sidebarNav #primary-menu > ul {
  float: none;
  height: auto;
}
.sidebarNav #primary-menu ul li {
  float: none;
}
.sidebarNav #primary-menu ul li .mega-menu-content ul a,
.sidebarNav #primary-menu ul li a {
  font-size: 16px;
  height: 50px !important;
  line-height: 50px !important;
  padding: 0 15px !important;
  border-bottom: 1px solid #ddd !important;
}
.sidebarNav #primary-menu ul li i {
  line-height: 50px;
}
.sidebarNav #primary-menu ul ul, .sidebarNav #primary-menu ul li .mega-menu-content {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  border: none;
}

.sidebarNav #primary-menu ul li .mega-menu-content.col-2 > ul,
.sidebarNav #primary-menu ul li .mega-menu-content.col-3 > ul,
.sidebarNav #primary-menu ul li .mega-menu-content.col-4 > ul,
.sidebarNav #primary-menu ul li .mega-menu-content.col-5 > ul
{
  width: 100%;
}
.sidebarNav #primary-menu ul li.sub-menu .navsign {
  float: right;

  font-size: 10px;

  display: inline-block;
  padding-right: 17px;
}
.sidebarNav #primary-menu ul li.sub-menu .navsign::before{
  content: "\f067";
  font-family: FontAwesome;
  position: fixed;
}
.sidebarNav #primary-menu ul li.sfHover>i.navsign::before{
  content: "\f068";
  font-family: FontAwesome;
  position: fixed;
}
@media (max-width: 1199px) {
  #primary-menu ul li a {
    font-size: 13px;
    padding: 0 13px;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #primary-menu ul li a {
    font-size: 13px;
    padding: 0 13px;
  }

}

@media (max-width: 991px) {
  .has-navbar-top .app-body {
    padding-top: 36px;
  }
  .navbar-app {
    min-height: 36px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 #header .header-bottom{display: none;}
 #header .header-top span{display: none;}
#header .header-top .shopping-cart-icon span {  display: block;  left: 16px;  padding: 1px 0px;  top: -30px;}
}

@media all and (min-width: 240px) and (max-width: 479px) {

}

@media (max-width: 767px) {
 #header .header-bottom{display: none;}
 #header .header-top span{display: none;}
#header .header-top .shopping-cart-icon span{}
#header .header-top .shopping-cart-icon span {  display: block;  left: 16px;  padding: 1px 0px;  top: -30px;}
}
@media (min-width: 480px) and (max-width: 767px) {

}
@media (max-width: 479px) {

}
