
/*front page products---------------------------*/
.products-block-container {
  width: 100%;
  position: relative;
  display: block;
}

.products-entry {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}
.product-outer{
  float: left;
  position: relative;
  overflow: hidden;
  display: block;
}
.fout-products-per-row .product-outer {
  width: 25%;
}
.three-products-per-row .product-outer {
  width: 33.333333%;
}
.list-view .product-outer{
  width: 100%;
  float: none;
  clear: both;
}


.product-inner {
  margin-right: 30px;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.three-products-per-row .product-inner{
  margin-right: 30px;
}
.feature-image {
  width: 100%;
  overflow: hidden;
}

.feature-image img{
  width: 100%;
  height: auto;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.product-inner:hover .feature-image img{
  -webkit-transform:scale(1.1,1.1);
  -moz-transform:scale(1.1,1.1);
  -ms-transform:scale(1.1,1.1);
  -o-transform:scale(1.1,1.1);
  transform:scale(1.1,1.1);
}
.product-title h3{
  font-size: 1em;
  margin: 10px 0 5px;
  text-align: center;
  color: #474747;
}
.product-inner:hover .product-title h3{
  color: #B52E31;
}
.product-title span {
  display: block;
  text-align: center;
  font-size: 2em;
  line-height: 1em;
}
.product-title a.ambtn {
  display: block;
  margin-bottom: 10px;
  padding: 6px;
  overflow: hidden;
  text-align: center;
  font-size: 1.5em;
}

/*category*/
.products-category-outer {
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
}
.products-category-inner ul li a {
  border: 1px solid #ddd;
  padding: 13px 28px;
  margin: 3px;
  display: inline-block;
  font-size: 1.25em;
  text-align: center;
  text-transform: uppercase;
  color: #474747;
}

/*-------------------------list view-------------------*/
.list-view .feature-image {
  float: left;
  width: 300px;
  margin-right: 30px;
}
.list-view .product-title {
  margin-left: 330px;
}
.list-view .product-inner{
    height: auto;
    border-bottom: 1px solid #777;
    overflow: hidden;
    padding-bottom: 11px;
}
.list-view .product-outer:last-child .product-inner{
  border-bottom: medium none;
}
.list-view .product-title h3{
  font-size: 2em;
  text-align: left;
}
.list-view span {
  background: rgba(223, 220, 220, 0.88) none repeat scroll 0 0;
  color: #b52e31;
  padding: 20px;
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 2em;
  font-weight: 700;
}
.list-view .product-title .btn.ambtn {
  display: unset;
  margin-top: 20px;
}
/****************************************************8Cart summery********************************/
.amCartSummery > h3 {
  text-indent: 28px;
}
.amCartSummery .item {
  display: block;
  margin: 10px 5px;
  overflow: hidden;
  position: relative;
}
.amCartSummery .item img {
  clear: both;
  float: left;
  margin-right: 10px;
  width: 60px;
}
.amCartSummery .items-inner h5 {
  display: block;
}
.amCartSummery .quantity {
  font-size: 0.825em;
  margin-left: 70px;
}
.quantity td {
  padding: 3px 10px;
}
.amCartSummery .quantity button {
  border: 1px solid #ddd;
  height: 25px;
  margin: 0;
  padding: 0;
  width: 22px;
}
.amCartSummery .quantity input {
  border: 1px solid #ddd;
  height: 25px;
  left: -4px;
  position: relative;
  text-align: center;
  width: 29px;
}
.amCartSummery .quantity .plus {
  left: -8px;
  position: relative;
}
.total {
  border-top: 1px solid #ddd;
  display: block;

  width: 100%;
}
.amCartSummery .total span, .amCartSummery .total a {
  display: block;
  font-size: 1.25em;
  margin-top: 20px;
  margin-right: 25px;
  text-align: right;
}
