/*slider basic*/
.swiper-container{
  border: medium none;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 800px;
}
.swiper-slide .caption {
  position: absolute;
  bottom: 200px;
  left: 50px;
  color: white;
  max-width: 600px;
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 5;
}

.swiper-slide .caption h2{
  background: rgba(51, 51, 51, 0.5) none repeat scroll 0 0;
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 12px 18px;
  color: #f5f5f5;
  font-family: 'Philosopher';
  text-transform: uppercase;
}

.swiper-slide .caption p{
  background: rgba(51, 51, 51, 0.5);
  padding: 13px 18px 11px;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
  color: #f5f5f5;
  font-family: 'Quattrocento';
}

.swiper-slide .caption a{
  display: inline-block;
  margin-right: 17px;
  padding: 20px 36px;
  background: #F5F5F5;
  color: #B52E31;
  border: 1px solid #ddd;
  font-weight: 700;
  font-family: 'Philosopher';
  font-size: 20px;
}

.swiper-slide .soverlay{
    background-image: url('../images/slider/sbgpattern.png');
    background-repeat: repeat;
  background-color: transparent;
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

/*swiper slider 1*/

.swiper-container.amslider1 .swiper-slide img {
  height: 100%;
  width: 100%;
}

.swiper-container.amslider1 .swiper-slide.swiper-slide-active .caption a,
.swiper-container.amslider1 .swiper-slide.swiper-slide-active .caption h2,
.swiper-container.amslider1 .swiper-slide.swiper-slide-active .caption p {
		-webkit-animation-delay: .6s;
		animation-delay: .6s;
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeInDown;
		animation-name: fadeInDown;
}

.swiper-container.amslider1 .swiper-slide.swiper-slide-active .caption p {
		-webkit-animation-delay: .7s;
		animation-delay: .7s;
}


/*slider 2*/

.amslider2.swiper-container {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.amslider2 .swiper-slide {
      height: 600px;
      margin-bottom: auto;
      margin-top: auto;
      width: 800px;
      background-size: cover;
      background-position: center;
}


/*slider 3*/

.amslider3.swiper-container .caption {
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  top: 30%;
}
.swiper-container.amslider3 .swiper-slide h2 {
  border-bottom: 3px solid #B52E31;
  border-top: 3px solid #B52E31;
  background: transparent;
  font-size: 4em;
}

.swiper-container.amslider3 .swiper-slide p{
  background: transparent;
  font-size: 1em;
}

.swiper-container.amslider3 .swiper-slide.swiper-slide-active .caption a,
.swiper-container.amslider3 .swiper-slide.swiper-slide-active .caption h2,
.swiper-container.amslider3 .swiper-slide.swiper-slide-active .caption p {
		-webkit-animation-delay: .6s;
		animation-delay: .6s;
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: lightSpeedIn;
		animation-name: lightSpeedIn;
}

.swiper-container.amslider1 .swiper-slide.swiper-slide-active .caption p {
		-webkit-animation-delay: .7s;
		animation-delay: .7s;
}
.swiper-container.amslider3 .swiper-direction-nav {
  bottom: 48px;
  height: 48px;
  position: absolute;
  right: 48px;
  width: 97px;
  z-index: 10;
}

.swiper-container.amslider3 .swiper-direction-nav  a.arrow-nav {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  float: left;
  font-size: 14px;
  height: 48px;
  line-height: 48px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 200ms linear 0s, color 200ms linear 0s;
  width: 48px;
}
.swiper-container.amslider3 .swiper-direction-nav a.arrow-nav-next {
  float: left;
}
/*slider 4*/
.amslider4 {
       width: 100%;
       height: 800px;
       margin-left: auto;
       margin-right: auto;
   }
   .amslider4 .swiper-slide {
       background-size: cover;
       background-position: center;
   }
   .amslider4 .gallery-top {
       height: 80%;
       width: 100%;
   }
   .amslider4 .gallery-thumbs {
   box-sizing: border-box;
   height: 20%;
   padding: 10px 0;
   background: #444;
 }
   .amslider4 .gallery-thumbs .swiper-slide {
       width: 25%;
       height: 100%;
       opacity: 1;
   }
   .amslider4 .gallery-thumbs .swiper-slide-active {
       opacity: 0.81;
   }

   .amslider4 .swiper-container .swiper-slide.swiper-slide-active .caption{
   		-webkit-animation-delay: .6s;
   		animation-delay: .6s;
   		-webkit-animation-duration: .6s;
   		animation-duration: .6s;
   		-webkit-animation-fill-mode: both;
   		animation-fill-mode: both;
   		-webkit-animation-name: lightSpeedIn ;
   		animation-name: lightSpeedIn ;
   }
   .amslider4 .swiper-container .swiper-direction-nav {
     bottom: 48px;
     height: 48px;
     position: absolute;
     right: 48px;
     width: 97px;
     z-index: 10;
   }

  .amslider4 .swiper-container .swiper-direction-nav  a.arrow-nav {
     background-color: rgba(0, 0, 0, 0.5);
     color: rgba(255, 255, 255, 0.5);
     display: inline-block;
     float: left;
     font-size: 14px;
     height: 48px;
     line-height: 48px;
     position: relative;
     text-align: center;
     text-decoration: none;
     transition: background-color 200ms linear 0s, color 200ms linear 0s;
     width: 48px;
   }
   .amslider4 .swiper-container .swiper-direction-nav a.arrow-nav-next {
     float: left;
   }

   .amslider4 .swiper-container.gallery-thumbs .swiper-slide h2 {
     font-size: 14px;
     padding-left: 15px;
     top: 93px;
     position: relative;
     left: 0;
     color: #f5f5f5;
     background: #0f0f0f;
   }

/*slider5*/
.amslider5 {
    position: relative;
}
.amslider5 .overllay-slider {
  position: absolute;
  top: 0;
  left: 0;
}
.amslider5 .swiper-container.amslider3 .swiper-slide {
  height: 600px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .swiper-container{
    height: 600px;
  }
  .amslider4 {   height: 600px;}

  .swiper-container .swiper-slide .caption {
      left: 130px;
  }
  .swiper-container .swiper-slide .caption h2 {
    font-size: 2em;
  }
  .swiper-container .swiper-slide .caption p {
    font-size: 1em;
  }
  .amslider3.swiper-container .caption {

  max-width: 400px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .swiper-container .swiper-slide .caption {
      left: 130px;
  }
}

@media (max-width: 991px) {
  .swiper-container{
    height: 400px;
  }
    .amslider4 {   height: 400px;}
  .swiper-container .swiper-slide .caption {
      left: 130px;
      bottom: 90px;
      max-width: 480px;
  }
  .swiper-container .swiper-slide .caption h2 {
    font-size: 1em;
  }
  .swiper-container .swiper-slide .caption p {
    font-size: .8em;
  }
    .swiper-container .swiper-slide .caption a {
      font-size: 16px;
      padding: 10px 16px;
    }
    .amslider3.swiper-container .caption {
      left: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media all and (min-width: 240px) and (max-width: 479px) {

}

@media (max-width: 767px) {
  .swiper-container{
    height: 300px;
  }
    .amslider4 {   height: 300px;}
  .swiper-container .swiper-slide .caption {
      left: 130px;
      bottom: 90px;
      max-width: 400px;
  }
  .swiper-container .swiper-slide h2 {
    font-size: .8em;
  }
  .swiper-container .swiper-slide p {
    font-size: .5em;
  }
  .swiper-container .swiper-slide .caption a {
    font-size: 12px;
    padding: 6px 10px;
  }
  .amslider4 {   height: 300px;}
  .amslider4 .swiper-container .caption{ bottom: 10px; left: 53px;}
}
@media (min-width: 480px) and (max-width: 767px) {

}
@media (max-width: 479px) {

}
