<am-pagetitle displayname-property="data.title"></am-pagetitle>

<section class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12 blog-area">

        <div class="col-sm-4">
          <article class="post post-12 post-grid-overlay">
            <div class="post-entry">

              <div class="image-flex-overlay horizontal">
                <img src="images/resturent/re3.jpg" alt="sample21"  style="height:400px;"/>
                <figcaption>
                  <div class="title"><h4>I <span>propose</span> we leave <span>math</span> </h4></div>
                  <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <div class="post-meta color">
                      <ul class="list-inline">
                        <li><span class="fa fa-thumbs-o-up"></span>2555</li>
                        <li><span class="fa fa-thumbs-o-down"></span>5662</li>
                        <li><span class="fa fa-comments"></span>10</li>
                      </ul>
                    </div>

                  </div>
                  <a href="#"></a>
                </figcaption>
              </div>

            </div>
          </article>
        </div>

        <div class="col-sm-4">
          <article class="post post-12 post-grid-overlay">
            <div class="post-entry">

              <div class="image-flex-overlay horizontal">
                <img src="images/resturent/re3.jpg" alt="sample21"  style="height:400px;"/>
                <figcaption>
                  <div class="title"><h4>I <span>propose</span> we leave <span>math</span> </h4></div>
                  <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <div class="post-meta color">
                      <ul class="list-inline">
                        <li><span class="fa fa-thumbs-o-up"></span>2555</li>
                        <li><span class="fa fa-thumbs-o-down"></span>5662</li>
                        <li><span class="fa fa-comments"></span>10</li>
                      </ul>
                    </div>

                  </div>
                  <a href="#"></a>
                </figcaption>
              </div>

            </div>
          </article>
        </div>

        <div class="col-sm-4">
          <article class="post post-12 post-grid-overlay">
            <div class="post-entry">

              <div class="image-flex-overlay horizontal">
                <img src="images/resturent/re3.jpg" alt="sample21"  style="height:400px;"/>
                <figcaption>
                  <div class="title"><h4>I <span>propose</span> we leave <span>math</span> </h4></div>
                  <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <div class="post-meta color">
                      <ul class="list-inline">
                        <li><span class="fa fa-thumbs-o-up"></span>2555</li>
                        <li><span class="fa fa-thumbs-o-down"></span>5662</li>
                        <li><span class="fa fa-comments"></span>10</li>
                      </ul>
                    </div>

                  </div>
                  <a href="#"></a>
                </figcaption>
              </div>

            </div>
          </article>
        </div>

        <div class="col-sm-4">
          <article class="post post-12 post-grid-overlay">
            <div class="post-entry">

              <div class="image-flex-overlay horizontal">
                <img src="images/resturent/re3.jpg" alt="sample21"  style="height:400px;"/>
                <figcaption>
                  <div class="title"><h4>I <span>propose</span> we leave <span>math</span> </h4></div>
                  <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <div class="post-meta color">
                      <ul class="list-inline">
                        <li><span class="fa fa-thumbs-o-up"></span>2555</li>
                        <li><span class="fa fa-thumbs-o-down"></span>5662</li>
                        <li><span class="fa fa-comments"></span>10</li>
                      </ul>
                    </div>

                  </div>
                  <a href="#"></a>
                </figcaption>
              </div>

            </div>
          </article>
        </div>

        <div class="col-sm-4">
          <article class="post post-12 post-grid-overlay">
            <div class="post-entry">

              <div class="image-flex-overlay horizontal">
                <img src="images/resturent/re3.jpg" alt="sample21"  style="height:400px;"/>
                <figcaption>
                  <div class="title"><h4>I <span>propose</span> we leave <span>math</span> </h4></div>
                  <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <div class="post-meta color">
                      <ul class="list-inline">
                        <li><span class="fa fa-thumbs-o-up"></span>2555</li>
                        <li><span class="fa fa-thumbs-o-down"></span>5662</li>
                        <li><span class="fa fa-comments"></span>10</li>
                      </ul>
                    </div>

                  </div>
                  <a href="#"></a>
                </figcaption>
              </div>

            </div>
          </article>
        </div>

        <div class="col-sm-4">
          <article class="post post-12 post-grid-overlay">
            <div class="post-entry">

              <div class="image-flex-overlay horizontal">
                <img src="images/resturent/re3.jpg" alt="sample21"  style="height:400px;"/>
                <figcaption>
                  <div class="title"><h4>I <span>propose</span> we leave <span>math</span> </h4></div>
                  <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <div class="post-meta color">
                      <ul class="list-inline">
                        <li><span class="fa fa-thumbs-o-up"></span>2555</li>
                        <li><span class="fa fa-thumbs-o-down"></span>5662</li>
                        <li><span class="fa fa-comments"></span>10</li>
                      </ul>
                    </div>

                  </div>
                  <a href="#"></a>
                </figcaption>
              </div>

            </div>
          </article>
        </div>

        <div class="col-sm-4">
          <article class="post post-12 post-grid-overlay">
            <div class="post-entry">

              <div class="image-flex-overlay horizontal">
                <img src="images/resturent/re3.jpg" alt="sample21"  style="height:400px;"/>
                <figcaption>
                  <div class="title"><h4>I <span>propose</span> we leave <span>math</span> </h4></div>
                  <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <div class="post-meta color">
                      <ul class="list-inline">
                        <li><span class="fa fa-thumbs-o-up"></span>2555</li>
                        <li><span class="fa fa-thumbs-o-down"></span>5662</li>
                        <li><span class="fa fa-comments"></span>10</li>
                      </ul>
                    </div>

                  </div>
                  <a href="#"></a>
                </figcaption>
              </div>

            </div>
          </article>
        </div>

        <div class="col-sm-4">
          <article class="post post-12 post-grid-overlay">
            <div class="post-entry">

              <div class="image-flex-overlay horizontal">
                <img src="images/resturent/re3.jpg" alt="sample21"  style="height:400px;"/>
                <figcaption>
                  <div class="title"><h4>I <span>propose</span> we leave <span>math</span> </h4></div>
                  <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <div class="post-meta color">
                      <ul class="list-inline">
                        <li><span class="fa fa-thumbs-o-up"></span>2555</li>
                        <li><span class="fa fa-thumbs-o-down"></span>5662</li>
                        <li><span class="fa fa-comments"></span>10</li>
                      </ul>
                    </div>

                  </div>
                  <a href="#"></a>
                </figcaption>
              </div>

            </div>
          </article>
        </div>

        <div class="col-sm-4">
          <article class="post post-12 post-grid-overlay">
            <div class="post-entry">

              <div class="image-flex-overlay horizontal">
                <img src="images/resturent/re3.jpg" alt="sample21"  style="height:400px;"/>
                <figcaption>
                  <div class="title"><h4>I <span>propose</span> we leave <span>math</span> </h4></div>
                  <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <div class="post-meta color">
                      <ul class="list-inline">
                        <li><span class="fa fa-thumbs-o-up"></span>2555</li>
                        <li><span class="fa fa-thumbs-o-down"></span>5662</li>
                        <li><span class="fa fa-comments"></span>10</li>
                      </ul>
                    </div>

                  </div>
                  <a href="#"></a>
                </figcaption>
              </div>

            </div>
          </article>
        </div>



      </div>
    </div>
  </div>
</section>
