<div class="flexslider">
  <ul class="slides">
    <li >
      <div class="slider-image" style="background-image:url('/images/slider/girl_laptop_shopping_white_background.jpg'); height: 620px;" ></div>
      <div class="caption-inner flex-caption">
          <h1 style="opacity:0;">Beauty & Brains</h1>
          <strong style="opacity:0;" >Beautiful parallax scrolling effect &  intelligent options.</strong>
          <a style="opacity:0;" href="" class="btn btn-success btn-lg text-left">Get Shop now</a><a href="" class="btn btn-success btn-lg text-left">Read More</a>
      </div>
    </li>
    <li >
      <div class="slider-image" style="background-image:url('/images/slider/shopping-cart-1080836.jpg'); height:620px;" ></div>
      <div class="caption-inner flex-caption" >
          <h1 class=''>THIS IS AN AWESOME VIDEO BANNER</h1>
          <strong class=''>This is support video slider from youtube, vemio and mp4</strong>
          <a href="" class="btn btn-success btn-lg">Get Shop now</a>
          <a href="" class="btn btn-success btn-lg text-left">Read More</a>
      </div>
    </li>
    <li>
      <div class="slider-image" style="background-image:url('/images/slider/child_shopping_bags.jpg'); height:620px;" ></div>
      <div class="caption-inner flex-caption" >
          <h1 >We renovate with perfection</h1>
          <strong >Want to get Our help. 24/7 hours Support</strong>
          <a href="" class="btn btn-success btn-lg">Shop now</a>
          <a href="" class="btn btn-success btn-lg text-left">Read More</a>
      </div>
    </li>
  </ul>
</div>
