<div class="swiper-container amslider2 am-slider" options="slider2">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(images/slider/12797.jpg)">
                <h2 class="slide-layer" x="82" y="120">Hello I am a layer</h2>
            </div>
            <div class="swiper-slide" style="background-image:url(images/slider/19189.jpg)">
                <h2 class="slide-layer" x="50" y="100">Hello I am a layer</h2>
            </div>
            <div class="swiper-slide" style="background-image:url(images/slider/22364.jpg)">
                <h2 class="slide-layer" x="100" y="150">Hello I am a layer</h2>
            </div>
            <div class="swiper-slide" style="background-image:url(images/slider/9574.jpg)">
              <h2 class="slide-layer" x="30" y="50">Hello I am a layer</h2>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
