<div class="amslider5">
  <iframe id="ytplayer" type="text/html" width="100%" height="618.75"
  src="https://www.youtube.com/embed/?autoplay=1&controls=0&fs=0&list=PL-zFonURU92XhId-M0rSbUy4J-v_rosXn&listType=playlist&loop=1&rel=0&showinfo=0&start=1&color=white&iv_load_policy=3&theme=light"
  frameborder="0" allowfullscreen></iframe>
  <div class="overllay-slider">
  <div class="swiper-container amslider3 ">
  			 <div class="swiper-wrapper">

  					 <div class="swiper-slide">
  							 <div class="soverlay"></div>
  	 						<div class="caption">
  	 							<h1>100% Touch Friendly</h1>
  	 							<h2>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</h2>
  	 			        <a class="btn  btn-lg" >BUY IT NOW</a>
  	 						</div>
  					 </div>


  					 <div class="swiper-slide">
  						<div class="soverlay"></div>
  						<div class="caption">
  							<h1>Wordpress firebase</h1>
  							<h2>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</h2>
  							<a class="btn  btn-lg" >BUY IT NOW</a>
  						</div>
  					 </div>
  					 <div class="swiper-slide">
  						 <div class="soverlay"></div>
  						 <div class="caption">
  							 <h1>Nodejs Laravel5</h1>
  							 <h2>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</h2>
  							 <a class="btn  btn-lg" >BUY IT NOW</a>
  						 </div>
  					 </div>
  					 <div class="swiper-slide">
  						 <div class="soverlay"></div>
  						 <div class="caption">
   							<h1>Working as your need</h1>
   							<h2>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</h2>
   							<a class="btn  btn-lg" >BUY IT NOW</a>
   						</div>
  					 </div>

  			 </div>
  			 <!-- Add Arrows -->
         <div class="swiper-button-next"></div>
         <div class="swiper-button-prev"></div>
  	 </div>
</div>
  <script type="text/javascript" >
  	var swiper = new Swiper('.overllay-slider .amslider3', {
  	        nextButton: '.swiper-button-next',
  	        prevButton: '.swiper-button-prev',
  	        paginationClickable: true,
            autoplay: 5000,
  	        spaceBetween: 30,
  	        centeredSlides: true,
  	        autoplayDisableOnInteraction: false,
            	loop: true
  	    });
  </script>
</div>
