<div class="swiper-container amslider3">
			 <div class="swiper-wrapper">

					 <div class="swiper-slide" style="background-image:url('../images/slider/slider31.jpg');">
							 <div class="soverlay"></div>
	 						<div class="caption">
	 							<h2>100% Touch Friendly</h2>
	 							<p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
	 			        <a class="btn  btn-lg" >BUY IT NOW</a>
	 						</div>
					 </div>


					 <div class="swiper-slide" style="background-image:url('../images/slider/slider32.jpg');">
						<div class="soverlay"></div>
						<div class="caption">
							<h2>Wordpress firebase</h2>
							<p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
							<a class="btn  btn-lg" >BUY IT NOW</a>
						</div>
					 </div>
					 <div class="swiper-slide" style="background-image:url('../images/slider/slider33.jpg');">
						 <div class="soverlay"></div>
						 <div class="caption">
							 <h2>Nodejs Laravel5</h2>
							 <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
							 <a class="btn  btn-lg" >BUY IT NOW</a>
						 </div>
					 </div>
					 <div class="swiper-slide" style="background-image:url('../images/slider/slider34.jpg');">
						 <div class="soverlay"></div>
						 <div class="caption">
 							<h2>Working as your need</h2>
 							<p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
 							<a class="btn  btn-lg" >BUY IT NOW</a>
 						</div>
					 </div>

			 </div>
			 <!-- Add Arrows -->
			 <div class="swiper-direction-nav">
			 		<a class="arrow-nav arrow-nav-prev" href="#"> <i class="fa fa-chevron-left"></i> </a>
			 		<a class="arrow-nav arrow-nav-next" href="#">	 <i class="fa fa-chevron-right"></i> </a>
			 </div>
	 </div>

<script type="text/javascript" >
	var swiper = new Swiper('.swiper-container.amslider3', {
	        nextButton: '.arrow-nav-next',
	        prevButton: '.arrow-nav-prev',
	        paginationClickable: true,
	        spaceBetween: 30,
	        centeredSlides: true,
	        autoplay: 5000,
					effect: 'fade',
	        autoplayDisableOnInteraction: false,
					loop: true
	    });
</script>
