<div class="amslider4">
<div class="swiper-container gallery-top">
       <div class="swiper-wrapper">
         <div class="swiper-slide" style="background-image:url('../images/slider/slider41.jpg');">
             <div class="soverlay"></div>
            <div class="caption">
              <h2>100% Touch Friendly</h2>
              <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
              <a class="btn  btn-lg" >BUY IT NOW</a>
            </div>
         </div>


         <div class="swiper-slide" style="background-image:url('../images/slider/slider42.jpg');">
          <div class="soverlay"></div>
          <div class="caption">
            <h2>Wordpress firebase</h2>
            <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
            <a class="btn  btn-lg" >BUY IT NOW</a>
          </div>
         </div>
         <div class="swiper-slide" style="background-image:url('../images/slider/slider43.jpg');">
           <div class="soverlay"></div>
           <div class="caption">
             <h2>Nodejs Laravel5</h2>
             <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
             <a class="btn  btn-lg" >BUY IT NOW</a>
           </div>
         </div>
         <div class="swiper-slide" style="background-image:url('../images/slider/slider44.jpg');">
           <div class="soverlay"></div>
           <div class="caption">
            <h2>Working as your need</h2>
            <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
            <a class="btn  btn-lg" >BUY IT NOW</a>
          </div>
         </div>

         <div class="swiper-slide" style="background-image:url('../images/slider/slider41.jpg');">
             <div class="soverlay"></div>
            <div class="caption">
              <h2>100% Touch Friendly</h2>
              <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
              <a class="btn  btn-lg" >BUY IT NOW</a>
            </div>
         </div>


         <div class="swiper-slide" style="background-image:url('../images/slider/slider42.jpg');">
          <div class="soverlay"></div>
          <div class="caption">
            <h2>Wordpress firebase</h2>
            <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
            <a class="btn  btn-lg" >BUY IT NOW</a>
          </div>
         </div>
         <div class="swiper-slide" style="background-image:url('../images/slider/slider43.jpg');">
           <div class="soverlay"></div>
           <div class="caption">
             <h2>Nodejs Laravel5</h2>
             <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
             <a class="btn  btn-lg" >BUY IT NOW</a>
           </div>
         </div>
         <div class="swiper-slide" style="background-image:url('../images/slider/slider44.jpg');">
           <div class="soverlay"></div>
           <div class="caption">
            <h2>Working as your need</h2>
            <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
            <a class="btn  btn-lg" >BUY IT NOW</a>
          </div>
         </div>

         <div class="swiper-slide" style="background-image:url('../images/slider/slider41.jpg');">
             <div class="soverlay"></div>
            <div class="caption">
              <h2>100% Touch Friendly</h2>
              <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
              <a class="btn  btn-lg" >BUY IT NOW</a>
            </div>
         </div>


         <div class="swiper-slide" style="background-image:url('../images/slider/slider42.jpg');">
          <div class="soverlay"></div>
          <div class="caption">
            <h2>Wordpress firebase</h2>
            <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
            <a class="btn  btn-lg" >BUY IT NOW</a>
          </div>
         </div>
         <div class="swiper-slide" style="background-image:url('../images/slider/slider43.jpg');">
           <div class="soverlay"></div>
           <div class="caption">
             <h2>Nodejs Laravel5</h2>
             <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
             <a class="btn  btn-lg" >BUY IT NOW</a>
           </div>
         </div>
         <div class="swiper-slide" style="background-image:url('../images/slider/slider44.jpg');">
           <div class="soverlay"></div>
           <div class="caption">
            <h2>Working as your need</h2>
            <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
            <a class="btn  btn-lg" >BUY IT NOW</a>
          </div>
         </div>
       </div>
       <!-- Add Arrows -->
       <div class="swiper-button-next swiper-button-white"></div>
       <div class="swiper-button-prev swiper-button-white"></div>
   </div>
   <div class="swiper-container gallery-thumbs">
       <div class="swiper-wrapper">
           <div class="swiper-slide" style="background-image:url('../images/slider/slider41.jpg')">
             <h2>100% Touch Friendly</h2>
           </div>
           <div class="swiper-slide" style="background-image:url('../images/slider/slider42.jpg')">
             <h2>Wordpress firebase</h2>
           </div>
           <div class="swiper-slide" style="background-image:url('../images/slider/slider43.jpg')">
              <h2>Nodejs Laravel5</h2>
           </div>
           <div class="swiper-slide" style="background-image:url('../images/slider/slider44.jpg')">
             <h2>Working as your need</h2>
           </div>
           <div class="swiper-slide" style="background-image:url('../images/slider/slider41.jpg')">
             <h2>100% Touch Friendly</h2>
           </div>
           <div class="swiper-slide" style="background-image:url('../images/slider/slider42.jpg')">
             <h2>Wordpress firebase</h2>
           </div>
           <div class="swiper-slide" style="background-image:url('../images/slider/slider43.jpg')">
              <h2>Nodejs Laravel5</h2>
           </div>
           <div class="swiper-slide" style="background-image:url('../images/slider/slider44.jpg')">
             <h2>Working as your need</h2>
           </div>
           <div class="swiper-slide" style="background-image:url('../images/slider/slider41.jpg')">
             <h2>100% Touch Friendly</h2>
           </div>
           <div class="swiper-slide" style="background-image:url('../images/slider/slider42.jpg')">
             <h2>Wordpress firebase</h2>
           </div>
           <div class="swiper-slide" style="background-image:url('../images/slider/slider43.jpg')">
              <h2>Nodejs Laravel5</h2>
           </div>
           <div class="swiper-slide" style="background-image:url('../images/slider/slider44.jpg')">
             <h2>Working as your need</h2>
           </div>
       </div>
   </div>

</div>
<script type="text/javascript" >
   var galleryTop = new Swiper('.gallery-top', {
       nextButton: '.swiper-button-next',
       prevButton: '.swiper-button-prev',
       spaceBetween: 10,
   });
   var galleryThumbs = new Swiper('.gallery-thumbs', {
       spaceBetween: 10,
       centeredSlides: true,
       slidesPerView: 'auto',
       touchRatio: 0.2,
       slideToClickedSlide: true,
       mousewheelControl: true
   });
   galleryTop.params.control = galleryThumbs;
   galleryThumbs.params.control = galleryTop;

   </script>
