<div class="container-fluid pageTitle">
  <div class="container">
    <div class="row">
      <div class="pageTitleInner">
          <h2>{{pageTitle}}</h2>
          <ol class="breadcrumb">
            <li>
              <a ui-sref="home"><i class="fa fa-home" ></i> &nbsp;</a>
            </li>
            <li ng-repeat="crumb in breadcrumbs" ng-class="{ active: $last }">
              <a ui-sref="{{ crumb.route }}" ng-if="!$last">{{ crumb.displayName }}&nbsp;</a>
              <span ng-show="$last">{{ crumb.displayName }}</span>
            </li>
          </ol>
      </div>
    </div>
  </div>
</div>
