<section class="container-fluid fooret-caontainer bgColorBlack paddingTop paddingBottom">

   <footer class="footer container " id="footer">
     <div class="row">
       <div class="col-xs-12 marginSmBottom">
         <div class="col-xs-3">
           <a href="/" > <img src="/images/logo.gif" /></a>
         </div>
         <div class="col-xs-9 paddingLeft borderLeft">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. </p>
         </div>
       </div>
     </div>
     <div class="row borderTop paddingSmTop">
       <div class="col-xs-4">
              <h4>Contant Us</h4>

            <p><strong><span class="fa fa-map-marker"></span>  Address:</strong>  <address>795 Folsom Ave, Suite 600 <br> San Francisco, CA 94107</address></p>
            <p><strong><span class="fa fa-phone"></span>  Phone:</strong> (123) 456-7890</p>
            <p><strong><span class="fa fa-envelope"></span>  Email:</strong> first.last@example.com</p>
            <p><strong><span class="fa fa-clock-o"></span>  Open &amp; Closed:</strong></p>
              <p>Monday - Friday: 08:00 - 22:00</p>
              <p>Saturday, Sunday</p>
       </div>

       <div class="col-xs-4">
          <h4>Our thores chanel</h4>
            <ul class="list-unstyled">
                <li><span class="fa fa-check"></span>  <a href="">Get our service</a></li>
                <li><span class="fa fa-check"></span>  <a href="">Get our service</a></li>
                <li><span class="fa fa-check"></span>  <a href="">Get our service</a></li>
                <li><span class="fa fa-check"></span>  <a href="">Get our service</a></li>
                <li><span class="fa fa-check"></span>  <a href="">Get our service</a></li>
            </ul>
       </div>

       <div class="col-xs-4">
         <h4>Newsletter</h4>
          <div class="subcription">
            <form class="form-horizontal" novalidate>
              <div class="input-group input-group-lg marginSmBottom">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon1">
              </div>
              <div class="input-group input-group-lg marginSmBottom">
                <span class="input-group-addon fa fa-envelope"></span>
                <input type="email" class="form-control" placeholder="Email" aria-describedby="sizing-addon1">
              </div>

              <div class="input-group input-group-lg marginSmBottom">
                <button type="button" Class="btn button-am btn-lg btn-block" name="button">Subcribe Now!!</button>
              </div>
            </form>
          </div>
       </div>
     </div>
        <div class="footer-bottom row borderTop paddingSmTop marginSmTop">

              <div class="col-xs-6">
               <img class="block" src="images/cards.png" alt="" style="margin-bottom:10px;">
               <p> &copy; 2016 Angular Mart. Best Angularjs HTML5 template</p>
             </div>

           <div class="col-xs-6">
             <div class="socialShare text-left">
               <ul class="social pull-right clearfix">
                 <li><a href=""   class="facebook"  ></a></li>
                 <li><a href=""   class="google"  ></a></li>
                 <li><a href=""   class="linkedin"  ></a></li>
                 <li><a href=""   class="twitter"  ></a></li>
               </ul>


             </div>
           </div>
       </div>
     </div>
   </footer>
</section>
