

<nav id="primary-menu">

  <ul class="sf-menu" id="example">
    <li><a href="#/" ui-sref="home" > <i class="fa fa-home"></i>Home</a>
      <ul>
            <li><a  ui-sref="home2">Mobile Mart</a>

              <ul>
                <li class="mega-menu-title">Element</li>
                <li ui-sref-active="active"  ><a ui-sref="elements.button"><i class="fa fa-check-square"></i> button</a></li>
                <li ui-sref-active="active" ><a  ui-sref="elements.heading"><i class="fa fa-check-square"></i> Heading</a></li>
                <li ui-sref-active="active"><a ui-sref="elements.conntentbox"><i class="fa fa-check-square"></i> content box</a></li>
                <li ui-sref-active="active" ><a  ui-sref="elements.carousel"><i class="fa fa-check-square"></i> carousel</a></li>
                <li ui-sref-active="active"><a  ui-sref="elements.accordion"><i class="fa fa-check-square"></i> accordion</a></li>
                <li ui-sref-active="active"><a ui-sref="elements.icons"><i class="fa fa-check-square"></i> Icons</a></li>
                <li ui-sref-active="active"><a ui-sref="elements.iconseffect"><i class="fa fa-check-square"></i> Icon Effect</a></li>

              </ul>
            </li>
            <li><a  ui-sref="home3">Car Mart</a></li>
            <li><a  ui-sref="home4">Resturest Mart</a></li>
      </ul>
    </li>
    <li><a ui-sref="elements"><i class="fa fa-user"></i>About us</a></li>
    <li> <a  ui-sref="shop.leftsidebar" class=""><i class="fa fa-shopping-cart"></i>shop</a>
      <ul>
            <li><a  ui-sref="shop.leftsidebar">Shop Left</a></li>
            <li><a  ui-sref="shop.rightsidebar">Shop Right</a></li>
            <li><a  ui-sref="shop.topsidebar">Shop Top</a></li>
            <li><a  ui-sref="home4">Shop single</a></li>
      </ul>
    </li>

    <li class="mega-menu"><a  ui-sref="elements.element"><i class="fa fa-cogs"></i>Features</a>
      <div class="mega-menu-content col-5">

                      <ul>
                        <li class="mega-menu-title">Element</li>
                        <li ui-sref-active="active"  ><a ui-sref="elements.button"><i class="fa fa-check-square"></i> button</a></li>
                        <li ui-sref-active="active" ><a  ui-sref="elements.heading"><i class="fa fa-check-square"></i> Heading</a></li>
                        <li ui-sref-active="active"><a ui-sref="elements.conntentbox"><i class="fa fa-check-square"></i> content box</a></li>
                        <li ui-sref-active="active" ><a  ui-sref="elements.carousel"><i class="fa fa-check-square"></i> carousel</a></li>
                        <li ui-sref-active="active"><a  ui-sref="elements.accordion"><i class="fa fa-check-square"></i> accordion</a></li>
                        <li ui-sref-active="active"><a ui-sref="elements.icons"><i class="fa fa-check-square"></i> Icons</a></li>
                        <li ui-sref-active="active"><a ui-sref="elements.iconseffect"><i class="fa fa-check-square"></i> Icon Effect</a></li>

                      </ul>




                    <ul>
                      <li class="mega-menu-title">Element</li>
                      <li ui-sref-active="active" ><a  ui-sref="elements.counter"><i class="fa fa-check-square"></i> Counter</a></li>
                      <li ui-sref-active="active" ><a  ui-sref="elements.gmaps"><i class="fa fa-check-square"></i>Gmaps</a></li>
                      <li ui-sref-active="active"><a  ui-sref="elements.pricingTable"><i class="fa fa-check-square"></i> pricing Table</a></li>
                      <li ui-sref-active="active"><a  ui-sref="elements.testimonials"><i class="fa fa-check-square"></i> Testimonials</a></li>
                      <li ui-sref-active="active"><a  ui-sref="elements.callToAction"><i class="fa fa-check-square"></i> Call To Action </a></li>

                    </ul>

                      <ul>
                        <li class="mega-menu-title">Angular</li>
                        <li><a  href="" >accordion</a></li>
                        <li><a  href="#">Carousel</a></li>
                        <li><a  href="#">modal</a> </li>
                        <li><a  href="#">Tab</a> </li>
                        <li><a  href="#">Dismish</a> </li>
                        <li><a  href="#">Wordpress Rest Api</a> </li>
                        <li><a  href="#">JSON</a> </li>
                        <li><a  href="#">Firebase</a> </li>

                      </ul>

                      <ul>
                        <li class="mega-menu-title">Angular Touch</li>
                        <li><a  href="">Touch</a></li>
                        <li><a  href="#">Swipe</a></li>
                        <li><a  href="#">Tap</a> </li>
                        <li><a  href="#">Dismish</a> </li>

                      </ul>
        </div>
    </li>


    <li ><a href="#" ><i class="fa fa-file-text-o"></i>Blog</a></li>
    <li><a href="#" ><i class="fa fa-comment"></i>Contact</a></li>
      </ul>
</nav>
