
      <nav class="navbar main_menu ">

          <ul class="nav navbar-nav nav-squer">
                <li class="dropdown"><a href="#/" ui-sref="home" > <span class="fa fa-home"></span>Home</a>
                  <ul class="dropdown-menu" role="menu">
                        <li><a  href="#">Action</a></li>
                        <li><a  href="#">Another action</a></li>
                        <li><a  href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a  href="#">Separated link</a></li>
                  </ul>
                </li>
                <li class="dropdown mega-dropdown"><a ui-sref="elements"><span class="fa fa-cogs"></span>Features</a>
                      <ul class="dropdown-menu mega-dropdown-menu ">
                            <li>
                                  <ul>
                                    <li class="dropdown-header">Features</li>
                                    <li><a  ui-sref="elements.button">Button</a></li>
                                    <li><a  href="#">Carousel Control</a></li>
                                    <li><a  href="#">Left Right Navigation</a> </li>
                                    <li><a  href="#">Four Columns Grid</a> </li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Fonts</li>
                                    <li><a  href="#">Glyphicon</a></li>
                                    <li><a  href="#">Google Fonts</a></li>
                                  </ul>

                            </li>

                            <li >
                                <ul>
                                  <li class="dropdown-header">Features</li>
                                  <li><a  href="" ui-sref="elements.button">Button</a></li>
                                  <li><a  href="#">Carousel Control</a></li>
                                  <li><a  href="#">Left Right Navigation</a> </li>
                                  <li><a  href="#">Four Columns Grid</a> </li>
                                  <li class="divider"></li>
                                  <li class="dropdown-header">Fonts</li>
                                  <li><a  href="#">Glyphicon</a></li>
                                  <li><a  href="#">Google Fonts</a></li>
                                </ul>
                            </li>

                            <li >
                                  <ul>
                                    <li class="dropdown-header">Features</li>
                                    <li><a  href="" ui-sref="elements.button">Button</a></li>
                                    <li><a  href="#">Carousel Control</a></li>
                                    <li><a  href="#">Left Right Navigation</a> </li>
                                    <li><a  href="#">Four Columns Grid</a> </li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Fonts</li>
                                    <li><a  href="#">Glyphicon</a></li>
                                    <li><a  href="#">Google Fonts</a></li>
                                  </ul>
                            </li>
                      </ul>
                </li>
                <li > <a  ui-sref="shop.page" class=""><span class="fa fa-shopping-cart"></span>shop</a></li>

                <li class="dropdown"><a href="#" ><span class="fa fa-file-text-o"></span>Pages</a>

                    <ul class="dropdown-menu">
                          <li><a  href="#">Action</a></li>
                          <li><a  href="#">Another action</a></li>
                          <li><a  href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a  href="#">Separated link</a></li>
                    </ul>
                </li>
          </ul>
      </nav>
