<div class="container">
   <div class="col-md-6 col-xs-6">
      <div class="email"><span class="fa fa-envelope"></span>example@example.com</div>
      <div class="phpne"><span class="fa fa-phone"></span><span>0135685265</span></div>
   </div>
   <div class="col-md-6 col-xs-6">
      <div class="my-cart pull-right">
         <card-summery></card-summery>
      </div>
      <div class="my-account pull-right"><a href="#" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#login-modal">Login</a></div>
   </div>
</div>
