<div class="amCartSummery " ng-class="amCart.getTotalItems() >0? 'has-item' : 'no-item'">
  <h3 class="bgColor">Your Cart</h3>
  <div class="" ng-show="!amCart.isEmpty()">

    <ul>
      <li class="item" ng-repeat="item in amCart.getAllItems()">
          <img src="{{item.image}}" alt="" />
        <div class="items-inner">

          <h5>{{item.name}}</h5>

          <table class="quantity">
            <tr>
              <td>
                <span class="itemPrice">{{item.price | currency}}</span>
              </td>
              <td>
                <button class="minus" value="-" >-</button>
                <input type="text" class="itemq" ng-model="item.quantity" value="" size="3">
                <button class="plus" value="+" >+</button>
              </td>
              <td>
                <span class="subTotal">= {{item.total|currency}} </span>
              </td>
            </tr>
          </table>

        </div>
      </li>
      <li class="total">
        <span>Total      {{amCart.getSubTotal()| currency}}</span>
        <a href="" class="btn ambtn pull-right" >GET CART</a>
      </li>
    </ul>
  </div>
</div>
