<div class="products-block-container list-view pizza-hut">
	<div class="products-block-outer">
		<div class="products-block-inner">
			<div class="products-block">


				<header>
					<div class="title-entry">
						<div class="title">
							<h1>Our Collection</h1>
						</div>
					</div>
				</header>


				<div class="products-entry">
					<div class="product-outer marginSmBottom" ng-repeat="product in p.getProductByCategory('pizaa')">
						<div class="product-inner">
							<div class="product" >

								<div class="feature-image">
									<img src="{{product.src}}" class="img-responsive" alt="AdidasHoodie" />
								</div>
								<span>{{product.price | currency:"$":0}}</span>
								<div class="product-title">
									<a href=""><h3>{{product.title}}</h3></a>
									<div class="description marginSmTop marginSmBottom" ng-bind-html="HTMLDescription(product.description)"></div>


									<a class="btn ambtn" ng-click="amCart.addItem(product.ID, product.title, product.src, product.price, 1)" title="Add to Cart"  href="#">Order Now!!</a>
								</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
