<section class="container-fluid product-title-single text-center">
    <div class="ptitle">
      <h3>{{singleProduct.title}}</h3>
    </div>
      <am-socialshare data="singleProduct"></am-socialshare>
</section>
<section class="container-fluid page-shop-single">
  <div class="container">
    <div class="row marginTop marginBottom">
        <!-- <div class="col-md-2 col-sm-2 col-xs-12">

          <img src="https://www.pinkyparadise.com/v/vspfiles/assets/images/pinkyparadise-standard-200x600.png" />
          <p></p>
          <img src="http://4.bp.blogspot.com/-LvoW8JPaStw/VRhFrkozlDI/AAAAAAAAOIY/FbWsRt-mISU/s1600/Banner%2BTERU10.png" />

        </div> -->

        <div class="col-xs-12">
          <div class="marginSmLeft marginSmRight">

              <div class="singleProduct-entry">
                <div class="singleProduct-inner">

                  <div class="featrue-image">
                      <img src="{{singleProduct.src}}" alt="{{singleProduct.title}}" />
                  </div>
                  <div class="product-summary">

                    <p style="font-size:30px;">{{singleProduct.price | currency}}</p>


                    <div class="product-description">
                      <div class="description marginSmTop marginSmBottom" ng-bind-html="ps.HTMLParsing(singleProduct.description)"></div>

                    </div>

                    <div class="metaDetails marginSmTop marginSmBottom">
                      <div class="form-select">
                          <select aria-label="ngSelected" ng-model="data.color">
                            <option value="" selected="selected">Colors</option>
                            <option ng-repeat="c in singleProduct.colors" value="{{c}}">{{c}}</option>
                          </select>
                      </div>
                        <p></p>
                      <div class="form-select">
                          <select aria-label="ngSelected" ng-model="data.color" >
                            <option value="" selected="selected">Size</option>
                            <option ng-repeat="s in singleProduct.sizes" value="{{s}}">{{s}}</option>
                          </select>
                      </div>
                        <p></p>
                      <a class="btn ambtn btn-lg" ng-click="amCart.addItem(product.ID, product.title, product.src, product.price, 1)" title="Add to Cart"  href="#">Add to cart</a>


                    </div>



                  </div>

                </div>
              </div>

          </div>

        </div>

    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="title-entry shape-dash-solid title-center">
          <div class="title">
            <h1>Related Product</h1>
          </div>
        </div>

        <div class="amcarousel" autoplay="5000">
          <!-- Navigation -->
         <div class="amCarousel-button-next"><i class="fa fa-chevron-right" ></i></div>
         <div class="amCarousel-button-prev"><i class="fa fa-chevron-left" ></i></div>

         <div class="swiper-wrapper">
           <div class="swiper-slide product-outer marginSmBottom" ng-repeat="product in ps.getProductByCategory(singleProduct.category)">
             <div class="product-inner">
               <div class="product" >

                 <div class="feature-image">
                   <img src="{{product.src}}" class="img-responsive" alt="AdidasHoodie" />
                 </div>

                 <div class="product-details">
                   <a href=""><h3>{{product.title}}</h3></a>
                   <span>{{product.price | currency:"$":0}}</span>
                   <a class="btn ambtn" ng-click="amCart.addItem(product.ID, product.title, product.src, product.price, 1)" title="Add to Cart"  href="#">Add to cart</a>
                 </div>
               </div>
             </div>
           </div>
         </div>



     </div>
      </div>
    </div>
  </div>
</section>
