<am-pagetitle displayname-property="data.title"></am-pagetitle>

<section class="am-products feature-product container-fluid marginBottom marginTop shop-page page-topSidebar" ng-class="{'openfilterbar':isFilterbarOpern, 'list-view':listView}">
  <div class="container clearfix">
    <div class="row">
      <div class="shop-page-container">

        <div class="filter-sidebar">
            <h3><i class="fa fa-navicon"></i> Filters Products</h3>
            <div class="filter-area fcat ">
              <ul class="list-unstyled" >
                <h5>Categories</h5>
                <li class="checkbox" ng-repeat=" cat in p.$categories"><label><input type="checkbox" ng-click="filters.setFilter('category', cat)" />{{cat}}</label></li>

              </ul>
            </div>

            <div class="filter-area fcol " >
              <ul class="list-unstyled  clearfix" >
                <h5>Colors</h5>
                <li class="checkbox" ng-repeat=" color in p.$colors"><label><input type="checkbox" ng-click="filters.setFilter('colors', color)" />{{color}}</label></li>

              </ul>
            </div>

            <div class="filter-area fsiz " >
              <ul class="list-unstyled clearfix" >
                <h5>Sizes</h5>
                <li class="checkbox" ng-repeat="size in p.$sizes"><label><input type="checkbox" ng-click="filters.setFilter('sizes', size)" />{{size | uppercase}}</label></li>

              </ul>
            </div>

            <div class="filter-area fbrd" >

              <ul class="list-unstyled clearfix" >
                <h5>Brands</h5>
                <li class="checkbox" ng-repeat="brand in p.$brands"><label><input type="checkbox" ng-click="filters.setFilter('brand', brand)" />{{brand}}</label></li>              </ul>

            </div>


            <div class="filter-area fpr ">
              <h5>Price range </h5>
              <rzslider rz-slider-model="priceRange.minValue" rz-slider-high="priceRange.maxValue" rz-slider-options="priceRange.options" ></rzslider>
            </div>

        </div>

        <div class="products-container clearfix ">

          <div class="pcontrol-box marginSmBottom">
                <div class="form-select">
                    <select aria-label="ngSelected" ng-model="sortby">
                      <option value="" selected="selected">Sort by: Newest items</option>
                      <option value="price">Price: low to high</option>
                      <option id="greet" value="-price">Price: high to low</option>
                    </select>
                </div>
                <button class="btn btn-default ft" ng-click="toggleFilterbar()" ><i class="fa fa-navicon"></i></button>
                <button class="btn btn-default gt" ng-click="listView=true" ><i class="fa fa-list"></i></button>
                <button class="btn btn-default gt" ng-click="listView=false" ><i class="fa fa-th"></i></button>
          </div>

          <div class="products-entry">
            <div class="product-outer " ng-repeat="product in p.getAllProducts()| pfilter:filters.$filters | orderBy:sortby">
              <div class="product-inner marginSmRight marginSmBottom">
                <div class="product" >

                  <div class="feature-image">
                    <img src="{{product.src}}" class="img-responsive" alt="AdidasHoodie" />
                  </div>

                  <div class="product-details">
                    <a href=""><h3>{{product.title}}</h3></a>
                    <span>{{product.price | currency:"$":0}}</span>
                    <div ng-hide="!listView" class="description marginSmTop marginSmBottom" ng-bind-html="p.HTMLParsing(product.description)"></div>
                    <a class="btn ambtn" ng-click="amCart.addItem(product.ID, product.title, product.src, product.price, 1)" title="Add to Cart"  href="#">Add to cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</section>
