/*content box style*/
.content-box {
  display: table;
  overflow: hidden;
  position: relative;
  color: #474747;
}
.content-box-outer {
  margin: 5px;
}
.content-box-inner {
  padding: 10px;
}
.content-box h1, .content-box h2, .content-box h3, .content-box h4, .content-box h1 a, .content-box h2 a, .content-box h3 a, .content-box h4 a {
  color: #474747;
}
.content-box h1 a:hover, .content-box h2 a:hover, .content-box h3 a:hover, .content-box h4 a:hover{
  opacity: 0.7;
}
.content-box h1 small, .content-box h2 small, .content-box h3 small, .content-box h4 small{
  display: block;
}
.content-box p{
    color: #474747;
}
.content-box-style .content-box-image {
    width: 100%;
    overflow: hidden;
    display: block;
}
.content-box-style .content-box-image img,
.content-box-style .content-box-image iframe {
    width: 100%;
    height: auto;
}
.content-box-style .content-box-content h3 {
    text-align: center;
}
.content-box-style .content-box-content, .content-box-icon-top .content-box-content  {
    margin: 10px 0 50px;
    padding: 0 10px;
    text-align: justify;
}
.content-box-style .content-box-image img {
    transform: scale(1);
    transition: .4s;
    opacity: 1;
}
.content-box-style.content-box:hover .content-box-image img {
    transform: scale(1.1);
    transition: .4s;
    opacity: 0.9;
}
.content-box-style .content-box-button {
    left: 36%;
    position: absolute;
    text-align: center;
    top: 95%;
}
/*two-col*/
.content-box-style.two-col .content-box-content h3::after,.content-box-style.one-col .content-box-content h3::after {
  border-color: rgba(153, 21, 0, 1);
  border-width: 3px;
  margin: 20px 0;
}
.content-box-style.two-col .content-box-content h3, .content-box-style.one-col .content-box-content h3 {
  text-align: left;
}
.content-box-style.one-col .content-box-button, .content-box-style.two-col .content-box-button {
  display: block;
  left: 0;
  margin-top: 13px;
  position: relative;
  text-align: left;
}
.content-box-style.one-col .content-box-content, .content-box-style.two-col .content-box-content {
  margin-bottom: 21px;
}
/*content-box-image-left*/
.content-box.content-box-image-left {
  clear: both;
  display: block;
  overflow: hidden;
}
.content-box-image-left .content-box-image {
  float: left;
  margin-right: 10px;
}
.content-box-image-left .content-box-content h3::after {
  display: none;
  margin: 0;
}


/*content-box-icon-top*/

.content-box-icon-top .content-box-icon {
  background: #fff none repeat scroll 0 0;
  clear: both;
  display: block;
  left: 38%;
  overflow: hidden;
  padding-bottom: 7px;
  position: absolute;
  top: -42px;
}
.content-box-icon-top h3 {
    margin-top: 75px;
    text-align: center;
}
/*xl-icon*/
.content-box-icon-top.xl-icon .content-box-icon {
  left: 25%;
  top: -69px;
}
.content-box-icon-top.small-icon .content-box-icon {
  left: 36%;
  top: -5px;
}
.content-box-icon-top.mini-icon .content-box-icon {
  left: 45%;
  top: 5px;
}
/*icon left */
.content-box-icon-left .content-box-icon {
    left: 0;
    position: absolute;
    top: 17px;
}
.content-box-icon-left .content-box-content {
  padding-left: 83px;
}
.content-box-icon-left h3, .content-box-icon-right h3{
  margin-bottom: 0;
}
.content-box-icon-left h3::after, .content-box-icon-right h3::after{
  border: medium none;

}
.content-box-icon-right .content-box-icon {
    right:0;
    position: absolute;
    top: 17px;
}
.content-box-icon-right .content-box-content {
  padding-right: 92px;
  text-align: right;
}
/*small icon*/
.content-box-icon-left.small-icon .content-box-content {
  padding-left: 83px;
}
.content-box-icon-right.small-icon .content-box-content {
  padding-right: 80px;
}
.content-box-icon-right.small-icon .content-box-icon, .content-box-icon-left.mini-icon .content-box-icon {
    top: 20px;
}
/*mini icon*/
.content-box-icon-left.mini-icon .content-box-content {
  padding-left: 53px;
}
.content-box-icon-right.mini-icon .content-box-content {
  padding-right: 60px;
}
.content-box-icon-right.mini-icon .content-box-icon, .content-box-icon-left.mini-icon .content-box-icon {
    top: 24px;
}

/*xl-icon*/
.content-box-icon-right.xl-icon .content-box-content {
  padding-right: 127px;
  text-align: right;
}
.content-box-icon-left.xl-icon .content-box-content {
  padding-left: 130px;
}
.content-box-icon-right.mini-icon .content-box-icon, .content-box-icon-left.mini-icon .content-box-icon {
    top: 30px;
}