<am-pagetitle displayname-property="data.title"></am-pagetitle>

<section class="container-fluid page-about marginTop marginBottom">
  <div class="container">
    <div class="row marginBottom">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="we-serve marginRight">
          <h3 class="borderBottom">We Are Here To Serve You</h3>

          <p>In hac habitasse platea dictumst. Sed pulvinar enim pretium aliquam malesuada. Maecenas ligula nisl, varius sit amet vestibulum feugiat, ultrices consequat sapien. Nulla in porttitor leo. Etiam a maximus felis, quis cursus sem. Vivamus malesuada ante a sem dapibus luctus. Nulla luctus sapien dolor, quis molestie felis placerat vitae. Morbi nec tincidunt arcu. Aliquam fringilla dignissim condimentum. Fusce consequat laoreet neque. <p>

            <div class="col-sm-6 col-xs-12">
              <div class="content-box text-center cb-icon-left">
                <div class="content-box-outer">
                  <div class="content-box-inner">

                    <div class="content-box-icon ">
                      <i class="fa fa-desktop fa-4x icon-effect effect-3 effect-b"></i>
                    </div>

                    <div class="content-box-content">
                      <h4>Icon box right</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>

              <div class="col-sm-6 col-xs-12">
              <div class="content-box text-center cb-icon-left">
                <div class="content-box-outer">
                  <div class="content-box-inner">

                    <div class="content-box-icon ">
                      <i class="fa fa-desktop fa-4x icon-effect effect-3 effect-b"></i>
                    </div>

                    <div class="content-box-content">
                      <h4>Icon box right</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h3 class="borderBottom">Our skills</h3>
        <div class="skills">
            <div class="skill" width="70">
              <div class="skill-bg" style="background-color:#782929">
                PHP 70%
              </div>
            </div>
            <div class="skill" width="80">
              <div class="skill-bg" style="background-color:#06787c">
                JavaScript 80%
              </div>
            </div>
            <div class="skill" width="60">
              <div class="skill-bg" style="background-color:#62510a">
                Nodejs 60%
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row marginBottom">

      <div class="title-entry shape-dash-solid title-center">
        <div class="title">
          <h4>Meet with our team</h4>
        </div>
      </div>

      <div class="col-md-4">
        <div class="content-box">
          <div class="content-box-outer">
            <div class="content-box-inner">

              <div class="content-box-image">
                <img src="http://placehold.it/600x300" alt="..." class="img-responsive">
              </div>

              <div class="content-box-content">
                <h3>Jhon Smith<small>Full stack Developer</small></h3>
                <p>Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis etra quasi architectos beatae vitae dicta es sunt explicabo sadips felis eltsa ipsums.</p>

              </div>
              <ul class="list-inline list-unstyled">
                  <li href="">JavaScript</li>
                  <li href="">nodejs</li>
                  <li href="">Angularjs</li>
              </ul>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="content-box">
          <div class="content-box-outer">
            <div class="content-box-inner">

              <div class="content-box-image">
                <img src="http://placehold.it/600x300" alt="..." class="img-responsive">
              </div>

              <div class="content-box-content">
                <h3>Jhon Smith<small>Full stack Developer</small></h3>
                <p>Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis etra quasi architectos beatae vitae dicta es sunt explicabo sadips felis eltsa ipsums.</p>

              </div>
              <ul class="list-inline list-unstyled">
                  <li href="">JavaScript</li>
                  <li href="">nodejs</li>
                  <li href="">Angularjs</li>
              </ul>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="content-box">
          <div class="content-box-outer">
            <div class="content-box-inner">

              <div class="content-box-image">
                <img src="http://placehold.it/600x300" alt="..." class="img-responsive">
              </div>

              <div class="content-box-content">
                <h3>Jhon Smith<small>Full stack Developer</small></h3>
                <p>Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis etra quasi architectos beatae vitae dicta es sunt explicabo sadips felis eltsa ipsums.</p>
              </div>
              <ul class="list-inline list-unstyled">
                  <li href="">JavaScript</li>
                  <li href="">nodejs</li>
                  <li href="">Angularjs</li>
              </ul>

            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
  </div>
</section>
