  <section class="slider-container" ng-include="'views/slider/sliderMobile.html'"></section>




    <section class="container-fluid">
          <div class="container clearfix">
              <div class="row">
<div class="product split_angle">
  <div class="content">
    <h1>Github Mug</h1>
    <p>Uh, coast guard. Last night, Darth Vader came down from planet Vulcan. And he told me that if I didn't take Lorraine, that he'd melt my brain. You know, Doc, you left your equipment on all week. No no no this sucker's electrical, but I need a nuclear reaction to generate the one point twenty-one gigawatts of electricity.</p>
    <p>Nothing. Your not gonna be picking a fight, Dad, dad dad daddy-o. You're coming to a rescue, right? Okay, let's go over the plan again. 8:55, where are you gonna be. Cause, George, she wants to go to the dance with you...</p>
  </div>
  <div class="arrow-left"></div>
  <div class="image front">
    <div class="call_to_action">
        <h1 class="price">$24</h1>
        <div class="buttons">
          <a class="button1" href="#">Read More</a>
          <a class="button2" href="#">Add to Cart</a>
        </div>
    </div>
</div>
</div>
              </div>
          </div>
      </section>
