<section class="container-fluid pizza-slider marginBottom paddingTop oHidden">
  <div class="container">
    <div class="row">
      <h1>unique flavour of vegetarian pizza</h1>
      <div class="pizzaItems">
        <div class="image-flex-overlay">
          <img src="images/resturent/re1.jpg" alt="sample22"/>
          <figcaption>
            <div class="title"><h4>What <span>state</span> do you live in?</h4></div>
            <div class="content">
              <p>Denial. Miss Wormwood: I don't suppose I can argue with that.</p>
              <div class="curl"></div>
            </div>
            <a href="#"></a>
          </figcaption>
        </div>
        <div class="image-flex-overlay">
          <img src="images/resturent/re2.jpg" alt="sample20"/>
          <figcaption>
            <div class="title"><h4>If we wanted more <span>leisure</span></h4></div>
            <div class="content">
              <p>We'd invent machines that do things less efficiently.</p>
              <div class="curl"></div>
            </div>
            <a href="#"></a>
          </figcaption>
        </div>
        <div class="image-flex-overlay">
          <img src="images/resturent/re3.jpg" alt="sample21"/>
          <figcaption>
            <div class="title"><h4>I <span>propose</span> we leave <span>math</span> </h4></div>
            <div class="content">
              <p>To the machines and go play outside.</p>
              <div class="curl"></div>
            </div>
            <a href="#"></a>
          </figcaption>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="feature-product container-fluid marginBottom">
  <div class="container clearfix">
    <div class="row">

      <div class="am-products products-block-container pizza-hut">

              <div class="products-entry">
                <div class="col-md-6 col-sm-6 col-xs-12 product-outer marginSmBottom" ng-repeat="product in p.getProductByCategory('pizaa')">
                  <div class="product-inner">
                    <div class="product" >
                      <a href=""><h3>{{product.title}}</h3></a>
                      <div class="feature-image">
                        <img src="{{product.src}}" class="img-responsive" alt="AdidasHoodie" />
                      </div>
                      <span>{{product.price | currency:"$":0}}</span>
                      <div class="product-title">
                        <ul class="list-unstyled">
                          <li class="" ng-repeat="f in product.flavour">{{f}}</li>
                        </ul>
                        <a class="btn ambtn" ng-click="amCart.addItem(product.ID, product.title, product.src, product.price, 1)" title="Add to Cart"  href="#">Order Now!!</a>
                      </div>

                  </div>
                </div>
              </div>

            </div>

      </div>

    </div>
  </div>
</section>
  <section class="container-fluid marginBottom client-testimonial">
        <div class="container clearfix">
            <div class="row">

              <div class="amtitle title-double-border shape-sd title-center">
                <h3><span class="fa fa-smile-o"></span>  Our satisfied Clint</h3>
              </div>



          <div class="amcarousel" autoplay="5000" slides-per-view="1">
           <div class="swiper-wrapper">
             <div class="swiper-slide testimonials center-block" ng-repeat="product in p.getProductByID([18, 5, 6, 8, 10, 13, 14, 12])">

               <div class="quote col-md-8  classic">
                 <blockquote>
                     <p>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </p>

                 </blockquote>
                 <div class="author">
                   <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
                   <div class="author-info">
                     <span class="author-name">Anton Shauchenka</span>
                     <span class="author-position">CDO, TrackDuck</span>
                   </div>
                 </div>
               </div>

             </div>
           </div>

       </div>

            </div>
        </div>
    </section>
