<section class="slider-container" ng-include="'views/slider/sliderMobile.html'"></section>




  <section class="container-fluid">
        <div class="container clearfix">
            <div class="row">


              <figure class="snip0021">
              	<img src="images/resturent/re1.jpg" alt="sample22"/>
              	<figcaption>
              		<div><h2>What <span>state</span> do you live in?</h2></div>
              		<div>
              			<p>Denial. Miss Wormwood: I don't suppose I can argue with that.</p>
              			<div class="curl"></div>
              		</div>
              		<a href="#"></a>
              	</figcaption>
              </figure>
              <figure class="snip0021 hover">
              	<img src="images/resturent/re2.jpg" alt="sample20"/>
              	<figcaption>
              		<div><h2>If we wanted more <span>leisure</span></h2></div>
              		<div>
              			<p>We'd invent machines that do things less efficiently.</p>
              			<div class="curl"></div>
              		</div>
              		<a href="#"></a>
              	</figcaption>
              </figure>
              <figure class="snip0021">
              	<img src="images/resturent/re3.jpg" alt="sample21"/>
              	<figcaption>
              		<div><h2>I <span>propose</span> we leave <span>math</span> </h2></div>
              		<div>
              			<p>To the machines and go play outside.</p>
              			<div class="curl"></div>
              		</div>
              		<a href="#"></a>
              	</figcaption>
              </figure>

            </div>
        </div>
    </section>
