<am-pagetitle displayname-property="data.title"></am-pagetitle>

<section class="container-fluid" id="userLogin">
  <div class="container">
    <div class="col-sm-12 marginAll">
      <form class="form-horizontal" name="user" novalidate>
        <div class="form-group">
          <div class="col-sm-9 col-md-offset-2">
                <p>All * fields must be fill up</p>
          </div>
        </div>


        <div class="form-group" ng-class="{'has-error': user.$dirty && user.firstName.$invalid}">
          <label for="firstName" class="col-sm-3 col-md-2 control-label">First Name<span>*</span></label>
          <div class="col-sm-9 col-md-5">
            <input type="text" class="form-control" ng-model="firstName" name="firstName"  placeholder="First Name" required>

          </div>
          <div ng-messages="user.firstName.$error" ng-show="user.$dirty && user.firstName.$invalid" class="col-sm-9 col-md-4">
              <p ng-message="required" class="help-block">First Name is required.</p>
              <p ng-message="text" class="help-block">First Name should be text.</p>
          </div>
        </div>


        <div class="form-group" ng-class="{'has-error': user.$dirty && user.lastName.$invalid}">
          <label for="lastName" class="col-sm-3 col-md-2 control-label">Last Name<span>*</span></label>
          <div class="col-sm-9 col-md-5">
            <input type="text" class="form-control" ng-model="lastName" name="lastName"  placeholder="Last Name" required>
          </div>
          <div ng-messages="user.lastName.$error" ng-show="user.$dirty && user.lastName.$invalid" class="col-sm-9 col-md-4">
              <p ng-message="required" class="help-block">Last Name is required.</p>
              <p ng-message="text" class="help-block">Last Name should be text.</p>
          </div>
        </div>


      <div class="form-group" ng-class="{'has-error': user.userName.$dirty && user.userName.$invalid}">
        <label for="userName" class="col-sm-3 col-md-2 control-label">User Name<span>*</span></label>
        <div class="col-sm-9 col-md-5">
          <input type="text" class="form-control" ng-model="userName" name="userName"  placeholder="User Name" required>
        </div>
        <div ng-messages="user.userName.$error" ng-show="user.userName.$dirty && user.userName.$invalid" class="col-sm-9 col-md-4">
            <p ng-message="required" class="help-block">User Name is required.</p>
            <p ng-message="text" class="help-block">User Name should be text of Number.</p>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': user.userEmail.$dirty && user.userEmail.$invalid}">
        <label for="userEmail" class="col-sm-3 col-md-2 control-label">Email<span>*</span></label>
        <div class="col-sm-9 col-md-5">
          <input type="email" class="form-control" ng-model="userEmail" name="userEmail"  placeholder="User Name" required>
        </div>
        <div ng-messages="user.userEmail.$error" ng-show="user.userEmail.$dirty && user.userEmail.$invalid" class="col-sm-9 col-md-4">
            <p ng-message="required" class="help-block">Email Address is required.</p>
            <p ng-message="email" class="help-block">should be a valid Email</p>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': user.password.$dirty && user.password.$invalid}">
        <label for="password"  class="col-sm-3 col-md-2 control-label">Password<span>*</span></label>
        <div class="col-sm-9 col-md-5">
          <input type="password" class="form-control" ng-model="password" name="password" placeholder="Password" required>
        </div>
        <div ng-messages="user.password.$error" ng-show="user.password.$dirty && user.password.$invalid" class="col-sm-9 col-md-4">
            <p ng-message="required" class="help-block">First Name is required.</p>
            <p ng-message="password" class="help-block">should be password</p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-sm-10">
          <button type="submit" class="btn ambtn" ng-click="save()">Sign Up</button>
        </div>
      </div>

    </form>

    <div class="form-group">
      <div class="col-md-offset-2 col-sm-10">
        <button type="submit" class="btn ambtn" ng-click="checkUser()">Sign Up</button>
      </div>
    </div>

    </div>
  </div>
</section>
