<am-pagetitle displayname-property="data.title"></am-pagetitle>
<section class="container-fluid marginTop marginBotom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">

        <ul class="nav nav-pills nav-stacked profileNav" data-spy="affix" data-offset-top="19">
          <li role="presentation" class="active"><a href="#">My Account</a></li>
          <li role="presentation"><a href="#">My Blogs</a></li>
          <li role="presentation"><a href="#">My Product</a></li>
          <li role="presentation"><a href="#">Buing Product</a></li>
          <li role="presentation"><a href="#">Affiliate</a></li>
          <li role="presentation"><a href="#">Status</a></li>
          <li role="presentation"><a href="#">Edit Profile</a></li>
        </ul>

      </div>
      <div class="col-xs-12 col-sm-9">

          <div class="myaccount" id="myccount">
            <div class="marginAll parsonal-blog">
              <div class="amtitle title-bottom-border">
                <h4>Account Name </h4>
              </div>
              <h2>Shahadat Hossain </h2>
            </div>

            <div class="marginAll parsonal-blog">
              <div class="amtitle title-bottom-border">
                <h4>Email Address</h4>
              </div>
              <p>exaple@example.com</p>
            </div>

            <div class="marginAll parsonal-blog">
              <div class="amtitle title-bottom-border">
                <h4>Contact info</h4>
              </div>
              <p>Phone: 000 0000 000</p>
              <p>Mobile: 0125500000</p>

            </div>

            <div class="marginAll parsonal-blog">
              <div class="amtitle title-bottom-border">
                <h4>Address #1</h4>
              </div>
              <address>
                <p>Thomas Nolan Kaszas</p>
                <p>PSC 450 Box 297</p>
                <p>APO AP 96206</p>
              </address>
            </div>

            <div class="marginAll parsonal-blog">
              <div class="amtitle title-bottom-border">
                <h4>Address #2</h4>
              </div>
              <address>
                <p>Thomas Nolan Kaszas</p>
                <p>PSC 450 Box 297</p>
                <p>APO AP 96206</p>
              </address>
            </div>

            <div class="marginAll parsonal-blog">
              <div class="amtitle title-bottom-border">
                <h4>Social connect</h4>
              </div>
              <ul class="list-inline">
                <li>facebook</li>
                <li>google+</li>
                <li>linkedin</li>
              </ul>
            </div>

          </div>

      </div>
    </div>
  </div>
</section>
