<am-pagetitle displayname-property="data.title"></am-pagetitle>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-2" ui-view="elementNav">
                <h3>Feture sidebar navigation</h3>
            </div>
            <div class="col-md-10">
                <div class="component button-component">
                    <div class="col-xs-12">

                        <div class="button_area bootstrap">
                            <div class="title-entry">
                                <div class="title">
                                    <h2>Bootstrap Default Button</h2>
                                </div>
                            </div>

                            <div>
                                <button type="button" class="btn btn-primary">Primary</button>
                                <button type="button" class="btn btn-success">Success</button>
                                <button type="button" class="btn btn-info">Info</button>
                                <button type="button" class="btn btn-warning">Warning</button>
                                <button type="button" class="btn btn-danger">Danger</button>
                                <button type="button" class="btn button-red">button-red</button>
                                <button type="button" class="btn button-teal">button-red</button>
                                <button type="button" class="btn button-yellow">button-red</button>
                                <button type="button" class="btn button-green">button-red</button>
                                <button type="button" class="btn button-brown">button-red</button>
                                <button type="button" class="btn button-aqua">button-red</button>
                                <button type="button" class="btn button-purple">button-red</button>
                                <button type="button" class="btn button-dirtygreen">button-red</button>
                                <button type="button" class="btn btn-default">button-red</button>

                            </div>
                            <div class="title-entry">
                                <div class="title">
                                    <h2>Bootstrap Large Button</h2>
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary btn-lg btn-lg">Large button</button>
                                <button type="button" class="btn btn-primary btn-lg">Primary</button>
                                <button type="button" class="btn btn-success btn-lg">Success</button>
                                <button type="button" class="btn btn-info btn-lg">Info</button>
                                <button type="button" class="btn btn-warning btn-lg">Warning</button>
                                <button type="button" class="btn btn-danger btn-lg">Danger</button>
                                <button type="button" class="btn button-red btn-lg">button-red</button>
                                <button type="button" class="btn button-teal btn-lg">button-red</button>
                                <button type="button" class="btn button-yellow btn-lg">button-red</button>
                                <button type="button" class="btn button-green btn-lg">button-red</button>
                                <button type="button" class="btn button-brown btn-lg">button-red</button>
                                <button type="button" class="btn button-aqua btn-lg">button-red</button>
                                <button type="button" class="btn button-purple btn-lg">button-red</button>
                                <button type="button" class="btn button-dirtygreen btn-lg">button-red</button>
                                <button type="button" class="btn btn-default btn-lg">button-red</button>
                                <button type="button" class="btn btn-default btn-lg">Large button</button>

                            </div>
                            <div class="title-entry">
                                <div class="title">
                                    <h2>Bootstrap Small Button</h2>
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary btn-sm">Small button</button>
                                <button type="button" class="btn btn-default btn-sm">Small button</button>
                                <button type="button" class="btn btn-primary btn-sm">Primary</button>
                                <button type="button" class="btn btn-success btn-sm">Success</button>
                                <button type="button" class="btn btn-info btn-sm">Info</button>
                                <button type="button" class="btn btn-warning btn-sm">Warning</button>
                                <button type="button" class="btn btn-danger btn-sm">Danger</button>
                                <button type="button" class="btn button-red btn-sm">button-red</button>
                                <button type="button" class="btn button-teal btn-sm">button-red</button>
                                <button type="button" class="btn button-yellow btn-sm">button-red</button>
                                <button type="button" class="btn button-green btn-sm">button-red</button>
                                <button type="button" class="btn button-brown btn-sm">button-red</button>
                                <button type="button" class="btn button-aqua btn-sm">button-red</button>
                                <button type="button" class="btn button-purple btn-sm">button-red</button>
                                <button type="button" class="btn button-dirtygreen btn-sm">button-red</button>
                                <button type="button" class="btn btn-default btn-sm">button-red</button>
                                <button type="button" class="btn btn-default btn-sm">Large button</button>

                            </div>

                            <div class="title-entry">
                                <div class="title">
                                    <h2>Bootstrap Extra small Button</h2>
                                </div>
                            </div>

                            <div>
                                <button type="button" class="btn btn-primary btn-xs">Small button</button>
                                <button type="button" class="btn btn-default btn-xs">Small button</button>
                                <button type="button" class="btn btn-primary btn-xs">Primary</button>
                                <button type="button" class="btn btn-success btn-xs">Success</button>
                                <button type="button" class="btn btn-info btn-xs">Info</button>
                                <button type="button" class="btn btn-warning btn-xs">Warning</button>
                                <button type="button" class="btn btn-danger btn-xs">Danger</button>
                                <button type="button" class="btn button-red btn-xs">button-red</button>
                                <button type="button" class="btn button-teal btn-xs">button-red</button>
                                <button type="button" class="btn button-yellow btn-xs">button-red</button>
                                <button type="button" class="btn button-green btn-xs">button-red</button>
                                <button type="button" class="btn button-brown btn-xs">button-red</button>
                                <button type="button" class="btn button-aqua btn-xs">button-red</button>
                                <button type="button" class="btn button-purple btn-xs">button-red</button>
                                <button type="button" class="btn button-dirtygreen btn-xs">button-red</button>
                                <button type="button" class="btn btn-default btn-xs">Default</button>
                            </div>
                            <div class="title-entry">
                                <div class="title">
                                    <h2>Bootstrap Block Button</h2>
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary btn-block col-md-3">Block level button</button>
                                <button type="button" class="btn button-aqua btn-block col-md-3">button-red</button>
                                <button type="button" class="btn button-purple btn-block col-md-3">button-red</button>
                                <button type="button" class="btn button-dirtygreen btn-block col-md-3">button-red</button>
                                <button type="button" class="btn btn-default btn-block col-md-3">button-red</button>
                            </div>


                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="button_area button-circle">
                            <div class="title-entry">
                                <div class="title">
                                    <h2>Cycle Button</h2>
                                </div>
                            </div>
                            <button type="button" class="btn btn-default btn-circle"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-list"></i></button>
                            <button type="button" class="btn btn-success btn-circle"><i class="fa fa-link"></i></button>
                            <button type="button" class="btn btn-info btn-circle"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn btn-warning btn-circle"><i class="fa fa-remove"></i></button>
                            <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-heart"></i></button>
                            <button type="button" class="btn button-red btn-circle"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn button-teal btn-circle"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn button-yellow btn-circle"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn button-green btn-circle"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn button-brown btn-circle"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn button-aqua btn-circle"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn button-purple btn-circle"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn button-dirtygreen btn-circle"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn btn-default btn-circle"><i class="fa fa-check"></i></button>

                            <h2>lg</h2>
                            <button type="button" class="btn btn-default btn-circle btn-lg"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn btn-primary btn-circle btn-lg"><i class="fa fa-list"></i></button>
                            <button type="button" class="btn btn-success btn-circle btn-lg"><i class="fa fa-link"></i></button>
                            <button type="button" class="btn btn-info btn-circle btn-lg"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn btn-warning btn-circle btn-lg"><i class="fa fa-remove"></i></button>
                            <button type="button" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-heart"></i></button>

                            <h2>xl</h2>
                            <button type="button" class="btn btn-default btn-circle btn-xl"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn btn-primary btn-circle  btn-xl"><i class="fa fa-list"></i></button>
                            <button type="button" class="btn btn-success btn-circle btn-xl"><i class="fa fa-link"></i></button>
                            <button type="button" class="btn btn-info btn-circle btn-xl"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn btn-warning btn-circle btn-xl"><i class="fa fa-remove"></i></button>
                            <button type="button" class="btn btn-danger btn-circle btn-xl"><i class="fa fa-heart"></i></button>
                            <button type="button" class="btn button-red btn-circle btn-xl"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn button-teal btn-circle btn-xl"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn button-yellow btn-circle btn-xl"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn button-green btn-circle btn-xl"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn button-brown btn-circle btn-xl"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn button-aqua btn-circle btn-xl"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn button-purple btn-circle btn-xl"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn button-dirtygreen btn-circle btn-xl"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn btn-default btn-circle btn-xl"><i class="fa fa-check"></i></button>


                            <h2>credit card</h2>
                            <button type="button" class="btn btn-default btn-circle btn-xl"><i class="fa fa-credit-card"></i></button>
                            <button type="button" class="btn btn-primary btn-circle btn-xl"><i class="fa fa-credit-card fa-lg"></i></button>
                            <button type="button" class="btn btn-success btn-circle btn-xl"><i class="fa fa-credit-card fa-lg"></i></button>
                            <button type="button" class="btn btn-info btn-circle btn-xl"><i class="fa fa-credit-card"></i></button>
                            <button type="button" class="btn btn-warning btn-circle btn-xl"><i class="fa fa-credit-card"></i></button>
                            <button type="button" class="btn btn-danger btn-circle btn-xl"><i class="fa fa-credit-card"></i></button>

                            <h2>SCOCIAL</h2>
                            <button type="button" class="btn btn-default btn-circle btn-xl colorCycle"><i class="fa fa-facebook"></i></button>
                            <button type="button" class="btn btn-primary btn-circle btn-xl"><i class="fa fa-twitter"></i></button>
                            <button type="button" class="btn btn-success btn-circle btn-xl"><i class="fa fa-youtube"></i></button>
                            <button type="button" class="btn btn-info btn-circle btn-xl"><i class="fa fa-instagram"></i></button>
                            <button type="button" class="btn btn-warning btn-circle btn-xl"><i class="fa fa-rss"></i></button>
                            <button type="button" class="btn btn-danger btn-circle btn-xl"><i class="fa fa-pinterest-p"></i></button>

                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="button_area button-circle">
                            <h1 class="page-header">square buttons</h1>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div>
                                        <a href="#" class="btn btn-sq-lg btn-primary">
                                            <i class="fa fa-user fa-5x"></i>
                                            <br/> Demo Primary
                                            <br>Button
                                        </a>
                                        <a href="#" class="btn btn-sq-lg btn-success">
                                            <i class="fa fa-user fa-5x"></i>
                                            <br/> Demo Success
                                            <br>Button
                                        </a>
                                        <a href="#" class="btn btn-sq-lg btn-info">
                                            <i class="fa fa-user fa-5x"></i>
                                            <br/> Demo Info
                                            <br>Button
                                        </a>
                                        <a href="#" class="btn btn-sq-lg btn-warning">
                                            <i class="fa fa-user fa-5x"></i>
                                            <br/> Demo Warning
                                            <br>Button
                                        </a>
                                        <a href="#" class="btn btn-sq-lg btn-danger">
                                            <i class="fa fa-user fa-5x"></i>
                                            <br/> Demo Danger
                                            <br>Button
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-12">
                                    <div>
                                        <a href="#" class="btn btn-sq btn-primary">
                                            <i class="fa fa-user fa-5x"></i>
                                            <br/> Demo Primary
                                            <br>Button
                                        </a>
                                        <a href="#" class="btn btn-sq btn-success">
                                            <i class="fa fa-user fa-5x"></i>
                                            <br/> Demo Success
                                            <br>Button
                                        </a>
                                        <a href="#" class="btn btn-sq btn-info">
                                            <i class="fa fa-user fa-5x"></i>
                                            <br/> Demo Info
                                            <br>Button
                                        </a>
                                        <a href="#" class="btn btn-sq btn-warning">
                                            <i class="fa fa-user fa-5x"></i>
                                            <br/> Demo Warning
                                            <br>Button
                                        </a>
                                        <a href="#" class="btn btn-sq btn-danger">
                                            <i class="fa fa-user fa-5x"></i>
                                            <br/> Demo Danger
                                            <br>Button
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div>
                                        <a href="#" class="btn btn-sq-sm btn-primary">
                                            <i class="fa fa-user fa-2x"></i>
                                            <br/> Demo
                                        </a>
                                        <a href="#" class="btn btn-sq-sm btn-success">
                                            <i class="fa fa-user fa-2x"></i>
                                            <br/> Demo
                                        </a>
                                        <a href="#" class="btn btn-sq-sm btn-info">
                                            <i class="fa fa-user fa-2x"></i>
                                            <br/> Demo
                                        </a>
                                        <a href="#" class="btn btn-sq-sm btn-warning">
                                            <i class="fa fa-user fa-2x"></i>
                                            <br/> Demo
                                        </a>
                                        <a href="#" class="btn btn-sq-sm btn-danger">
                                            <i class="fa fa-user fa-2x"></i>
                                            <br/> Demo
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-12">
                                    <div>
                                        <a href="#" class="btn btn-sq-xs btn-primary">
                                            <i class="fa fa-user fa-1x"></i>
                                            <br/>
                                        </a>
                                        <a href="#" class="btn btn-sq-xs btn-success">
                                            <i class="fa fa-user fa-1x"></i>
                                            <br/>
                                        </a>
                                        <a href="#" class="btn btn-sq-xs btn-info">
                                            <i class="fa fa-user fa-1x"></i>
                                            <br/>
                                        </a>
                                        <a href="#" class="btn btn-sq-xs btn-warning">
                                            <i class="fa fa-user fa-1x"></i>
                                            <br/>
                                        </a>
                                        <a href="#" class="btn btn-sq-xs btn-danger">
                                            <i class="fa fa-user fa-1x"></i>
                                            <br/>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



                    <div class="col-xs-12">
                        <div class="button_area button-circle">
                            <h1 class="page-header">Round Cornered Button</h1>
                            <a class="btn btn-round btn-default" href="#"><span class="fa  fa-save img-circle text-muted"></span>Download</a>
                            <a class="btn btn-round btn-primary" href="#"><span class="fa  fa-thumbs-up img-circle text-primary"></span>Like</a>
                            <a class="btn btn-round btn-success" href="#"><span class="fa  fa-plus img-circle text-success"></span>Add</a>
                            <a class="btn btn-round btn-info" href="#"><span class="fa  fa-share img-circle text-info"></span>Share</a>
                            <a class="btn btn-round btn-warning" href="#"><span class="fa  fa-minus img-circle text-warning"></span>Remove</a>
                            <a class="btn btn-round btn-danger" href="#"><span class="fa fa-trash img-circle text-danger"></span>Delete</a>

                        </div>
                        <div class "button_area button-circle">
                            <h1 class="page-header">Button</h1>
                            <button type="button" class="btn btn-primary round-10">Primary</button>
                            <button type="button" class="btn btn-success round-10">Success</button>
                            <button type="button" class="btn btn-info round-10">Info</button>
                            <button type="button" class="btn btn-warning round-10">Warning</button>
                            <button type="button" class="btn btn-danger round-10">Danger</button>
                            <button type="button" class="btn button-red round-10">button-red</button>
                            <button type="button" class="btn button-teal round-10">button-red</button>
                            <button type="button" class="btn button-yellow round-10">button-red</button>
                            <button type="button" class="btn button-green round-10">button-red</button>
                            <button type="button" class="btn button-brown round-10">button-red</button>
                            <button type="button" class="btn button-aqua round-10">button-red</button>
                            <button type="button" class="btn button-purple round-10">button-red</button>
                            <button type="button" class="btn button-dirtygreen round-10">button-red</button>
                            <button type="button" class="btn btn-default round-10">button-red</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
