<div class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-content-box">


					<div class="component content-box-component" >
						<div class="content-box-container padding-top">
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-top icon-box xl-icon">
										<div class="content-box-icon">
											<i class="flaticon-leaf64 icon-effect square xl"> </i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-top square icon-box " >
										<div class="content-box-icon">
											<i class="fa fa-crosshairs icon-effect  square"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-top icon-box small-icon" >
										<div class="content-box-icon">
											<i class="flaticon-bag41 icon-effect square small "></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>



					<div class="component content-box-component" >
						<div class="content-box-container padding-top">
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-top icon-box ">
										<div class="content-box-icon">
											<i class="flaticon-leaf64 icon-effect "> </i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-top square icon-box small-icon" >
										<div class="content-box-icon">
											<i class="fa fa-crosshairs icon-effect  small"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-top icon-box xl-icon" >
										<div class="content-box-icon">
											<i class="flaticon-bag41 icon-effect xl"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="component content-box-component" >
						<div class="content-box-container padding-top">
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-top icon-box xl-icon">
										<div class="content-box-icon">
											<i class="flaticon-leaf64 icon-effect square xl effect-6"> </i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-top square icon-box " >
										<div class="content-box-icon">
											<i class="fa fa-crosshairs icon-effect effect-1 effect-b square"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-top icon-box small-icon" >
										<div class="content-box-icon">
											<i class="flaticon-bag41 icon-effect square small effect-8"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="component content-box-component" >
						<div class="content-box-container padding-top">
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-top icon-box ">
										<div class="content-box-icon">
											<i class="flaticon-leaf64 icon-effect effect-6"> </i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-top square icon-box small-icon" >
										<div class="content-box-icon">
											<i class="fa fa-crosshairs icon-effect effect-1 effect-b small"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-top icon-box xl-icon" >
										<div class="content-box-icon">
											<i class="flaticon-bag41 icon-effect effect-8 xl"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="component content-box-component" >
						<div class="content-box-container">
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-left icon-box xl-icon">
										<div class="content-box-icon">
											<i class="flaticon-leaf64 icon-effect square xl effect-6"> </i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-left square icon-box xl-icon" >
										<div class="content-box-icon">
											<i class="fa fa-crosshairs icon-effect effect-1 xl effect-b square"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-left icon-box xl-icon" >
										<div class="content-box-icon">
											<i class="flaticon-bag41 icon-effect square xl effect-8"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="component content-box-component" >
						<div class="content-box-container">
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-right icon-box xl-icon">
										<div class="content-box-icon">
											<i class="flaticon-leaf64 icon-effect square xl effect-6"> </i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-right square icon-box xl-icon" >
										<div class="content-box-icon">
											<i class="fa fa-crosshairs icon-effect effect-1 xl effect-b square"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-right icon-box xl-icon" >
										<div class="content-box-icon">
											<i class="flaticon-bag41 icon-effect square xl effect-8"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="component content-box-component" >
						<div class="content-box-container">
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-right icon-box mini-icon">
										<div class="content-box-icon">
											<i class="flaticon-leaf64 icon-effect square mini effect-6"> </i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-left square icon-box mini-icon" >
										<div class="content-box-icon">
											<i class="fa fa-crosshairs icon-effect effect-1 mini effect-b square"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-left icon-box mini-icon" >
										<div class="content-box-icon">
											<i class="flaticon-bag41 icon-effect square mini effect-8"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="component content-box-component" >
						<div class="content-box-container">
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-left icon-box mini-icon">
										<div class="content-box-icon">
											<i class="flaticon-leaf64 icon-effect square mini effect-6"> </i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-left square icon-box mini-icon" >
										<div class="content-box-icon">
											<i class="fa fa-crosshairs icon-effect effect-1 mini effect-b square"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-left icon-box mini-icon" >
										<div class="content-box-icon">
											<i class="flaticon-bag41 icon-effect square mini effect-8"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="component content-box-component" >
						<div class="content-box-container">
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-left icon-box" >
										<div class="content-box-icon">
											<i class="flaticon-leaf64 icon-effect square small effect-6"> </i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-left square icon-box" >
										<div class="content-box-icon">
											<i class="fa fa-crosshairs icon-effect effect-1 small effect-b square"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-left icon-box" >
										<div class="content-box-icon">
											<i class="flaticon-bag41 icon-effect square small effect-8"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="component content-box-component" >
						<div class="content-box-container">
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-left icon-box" >
										<div class="content-box-icon">
											<i class="flaticon-leaf64 icon-effect square effect-6"> </i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-left square icon-box" >
										<div class="content-box-icon">
											<i class="fa fa-crosshairs icon-effect effect-1 effect-b square"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-left icon-box" >
										<div class="content-box-icon">
											<i class="flaticon-bag41 icon-effect square effect-8"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="component content-box-component" >
						<div class="content-box-container">
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-left icon-box" >
										<div class="content-box-icon">
											<i class="flaticon-leaf64 icon-effect effect-6"> </i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-left icon-box" >
										<div class="content-box-icon">
											<i class="fa fa-crosshairs icon-effect effect-5 effect-b"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-left icon-box" >
										<div class="content-box-icon">
											<i class="flaticon-bag41 icon-effect effect-8"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="component content-box-component" >
						<div class="content-box-container">
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-right icon-box" >
										<div class="content-box-icon">
											<i class="flaticon-leaf64 icon-effect effect-6"> </i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-right icon-box" >
										<div class="content-box-icon">
											<i class="fa fa-crosshairs icon-effect effect-5 effect-b"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-right icon-box" >
										<div class="content-box-icon">
											<i class="flaticon-bag41 icon-effect effect-8"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="component content-box-component" >
						<div class="content-box-container padding-top">
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-top icon-box content-box-border" >
										<div class="content-box-icon">
											<i class="flaticon-leaf64 icon-effect square effect-7 effect-b"> </i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 margin-bottom">
								<div class="content-box-inner">
									<div class="content-box content-box-icon-top icon-box content-box-border" >
										<div class="content-box-icon">
											<i class="fa fa-crosshairs icon-effect square effect-3 effect-b"></i>
										</div>
										<div class="content-box-content">
											<h3>This is title</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
										</div>
									</div>
								</div>
              </div>
								<div class="col-md-4 margin-bottom">
									<div class="content-box-inner">
										<div class="content-box content-box-icon-top icon-box content-box-border" >
											<div class="content-box-icon">
												<i class="flaticon-bag41 icon-effect square effect-8"></i>
											</div>
											<div class="content-box-content">
												<h3>This is title</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="component content-box-component" >
							<div class="content-box-container padding-top">
								<div class="col-md-4 margin-bottom">
									<div class="content-box-inner">
										<div class="content-box content-box-icon-top icon-box content-box-border " >
											<div class="content-box-icon">
												<i class="flaticon-leaf64 icon-effect effect-6"> </i>
											</div>
											<div class="content-box-content">
												<h3>This is title</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 margin-bottom">
									<div class="content-box-inner">
										<div class="content-box content-box-icon-top icon-box content-box-border  " >
											<div class="content-box-icon">
												<i class="fa fa-crosshairs icon-effect effect-5 effect-b"></i>
											</div>
											<div class="content-box-content">
												<h3>This is title</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 margin-bottom">
									<div class="content-box-inner">
										<div class="content-box content-box-icon-top icon-box content-box-border " >
											<div class="content-box-icon">
												<i class="flaticon-bag41 icon-effect effect-8"></i>
											</div>
											<div class="content-box-content">
												<h3>This is title</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="component content-box-component" >
							<div class="content-box-container">
								<div class="col-md-4 margin-bottom">
									<div class="content-box-inner">
										<div class="content-box content-box-image-top content-box-border three-col content-box-style" >
											<div class="content-box-image">
												<img src="http://placehold.it/600x400" alt="..." class="img-responsive">
											</div>
											<div class="content-box-content">
												<h3>This is title</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
												<div class="content-box-button">
													<a class="btn button-aqua">Read More</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 margin-bottom">
									<div class="content-box-inner">
										<div class="content-box content-box-image-top content-box-border three-col content-box-style" >
											<div class="content-box-image">
												<img src="http://placehold.it/600x400" alt="..." class="img-responsive">
											</div>
											<div class="content-box-content">
												<h3>This is title <small>How funny we are!!</small></h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
												<div class="content-box-button">
													<a class="btn button-aqua">Read More</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 margin-bottom">
									<div class="content-box-inner">
										<div class="content-box content-box-image-top content-box-border three-col content-box-style" >
											<div class="content-box-image">
												<img src="http://placehold.it/600x400" alt="..." class="img-responsive">
											</div>
											<div class="content-box-content">
												<h3>This is title <small>How funny we are!!</small></h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
												<div class="content-box-button">
													<a class="btn button-aqua">Read More</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="component content-box-component" >
							<div class="content-box-container">
								<div class="col-md-6 margin-bottom">
									<div class="content-box-inner">
										<div class="content-box content-box-image-top content-box-border two-col content-box-style" >
											<div class="content-box-image">
												<img src="http://placehold.it/600x400" alt="..." class="img-responsive">
											</div>
											<div class="content-box-content">
												<h3>This is title <small>How funny we are!!</small></h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
												<div class="content-box-button">
													<a class="btn button-aqua">Read More</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 margin-bottom">
									<div class="content-box-inner">
										<div class="content-box content-box-image-top content-box-border two-col content-box-style" >
											<div class="content-box-image">
												<img src="http://placehold.it/600x400" alt="..." class="img-responsive">
											</div>
											<div class="content-box-content">
												<h3>This is title <small>How funny we are!!</small></h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
												<div class="content-box-button">
													<a class="btn button-aqua">Read More</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="component content-box-component" >
							<div class="content-box-container">
								<div class="col-md-12 margin-bottom">
									<div class="content-box-inner">
										<div class="content-box content-box-image-top content-box-border one-col content-box-style" >
											<div class="content-box-image">
												<img src="http://placehold.it/600x400" alt="..." class="img-responsive">
											</div>
											<div class="content-box-content">
												<h3>This is title <small>How funny we are!!</small></h3>
												<p>Maecenas ac nulla commodo, imperdiet arcu non, hendrerit sem. Etiam viverra neque posuere elit porttitor maximus. Integer imperdiet sollicitudin est non rutrum. Nulla molestie dapibus porta. Sed lobortis est semper, imperdiet tellus nec, interdum est. Sed ullamcorper ex ac ultrices accumsan. Nullam scelerisque facilisis est a semper. Curabitur non eros sit amet odio iaculis viverra quis sit amet augue. </p>
												<div class="content-box-button">
													<a class="btn button-aqua">Read More</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="component content-box-component" >
							<div class="content-box-container">
								<div class="col-md-6 margin-bottom">
									<div class="content-box-inner">
										<div class="content-box content-box-image-left two-col content-box-border" >
											<div class="content-box-image">
												<img src="http://placehold.it/250x200" alt="..." class="img-responsive">
											</div>
											<div class="content-box-content">
												<h3>This is title <small>How funny we are!!</small></h3>
												<p>Maecenas ac nulla commodo, imperdiet arcu non, hendrerit sem. Etiam viverra neque posuere elit porttitor maximus. Integer imperdiet sollicitudin est non rutrum. Nulla molestie dapibus porta. Sed lobortis est semper, imperdiet tellus nec, interdum est. Sed ullamcorper ex ac ultrices accumsan. Nullam scelerisque facilisis est a semper. Curabitur non eros sit amet odio iaculis viverra quis sit amet augue. </p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 margin-bottom">
									<div class="content-box-inner">
										<div class="content-box content-box-image-left two-col content-box-border" >
											<div class="content-box-image">
												<img src="http://placehold.it/250x200" alt="..." class="img-responsive">
											</div>
											<div class="content-box-content">
												<h3>This is title <small>How funny we are!!</small></h3>
												<small>How funny we are!!</small>
												<p>Maecenas ac nulla commodo, imperdiet arcu non, hendrerit sem. Etiam viverra neque posuere elit porttitor maximus. Integer imperdiet sollicitudin est non rutrum. Nulla molestie dapibus porta. Sed lobortis est semper, imperdiet tellus nec, interdum est. Sed ullamcorper ex ac ultrices accumsan. Nullam scelerisque facilisis est a semper. Curabitur non eros sit amet odio iaculis viverra quis sit amet augue. </p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="component content-box-component" >
							<div class="content-box-container">
								<div class="col-md-8 col-md-offset-2 margin-bottom">
									<div class="content-box-inner">
										<div class="content-box content-box-image-left one-col content-box-border" >
											<div class="content-box-image">
												<img src="http://placehold.it/300x250" alt="..." class="img-responsive">
											</div>
											<div class="content-box-content">
												<h3>This is title <small>How funny we are!!</small></h3>
												<small>How funny we are!!</small>
												<p>Maecenas ac nulla commodo, imperdiet arcu non, hendrerit sem. Etiam viverra neque posuere elit porttitor maximus. Integer imperdiet sollicitudin est non rutrum. Nulla molestie dapibus porta. Sed lobortis est semper, imperdiet tellus nec, interdum est. Sed ullamcorper ex ac ultrices accumsan. Nullam scelerisque facilisis est a semper. Curabitur non eros sit amet odio iaculis viverra quis sit amet augue. </p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="component content-box-component" >
							<div class="content-box-container">
								<div class="col-md-4 margin-bottom">
									<div class="content-box-inner">
										<div class="content-box content-box-image-left three-col content-box-border" >
											<div class="content-box-image">
												<img src="http://placehold.it/150x100" alt="..." class="img-responsive">
											</div>
											<div class="content-box-content">
												<h4>This is title</h4>
												<small>How funny we are!!</small>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 margin-bottom">
									<div class="content-box-inner">
										<div class="content-box content-box-image-left three-col content-box-border" >
											<div class="content-box-image">
												<img src="http://placehold.it/150x100" alt="..." class="img-responsive">
											</div>
											<div class="content-box-content">
												<h4>This is title</h4>
												<small>How funny we are!!</small>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 margin-bottom">
									<div class="content-box-inner">
										<div class="content-box content-box-image-left three-col content-box-border" >
											<div class="content-box-image">
												<img src="http://placehold.it/150x100" alt="..." class="img-responsive">
											</div>
											<div class="content-box-content">
												<h4>This is title</h4>
												<small>How funny we are!!</small>
											</div>
										</div>
										</dov>
									</div>
								</div>

							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
