<am-pagetitle displayname-property="data.title"></am-pagetitle>

<div class="container-fluid amProducts marginTop marginBottom">
  <div class="container">
    <div class="row">



          <div class="amtitle title-double-border shape-sd">
            <h3><span class="fa fa-desktop"></span>  Basic carousel</h3>
          </div>



      <div class="amcarousel" autoplay="5000">
        <!-- Navigation -->
       <div class="amCarousel-button-next"><i class="fa fa-chevron-right" ></i></div>
       <div class="amCarousel-button-prev"><i class="fa fa-chevron-left" ></i></div>

       <div class="swiper-wrapper">
         <div class="swiper-slide product-outer marginSmBottom" ng-repeat="product in p.getProductByID([18, 5, 6, 8, 10, 13, 14, 12])">
           <div class="product-inner">
             <div class="product" >

               <div class="feature-image">
                 <img src="{{product.src}}" class="img-responsive" alt="AdidasHoodie" />
               </div>

               <div class="product-details">
                 <a href=""><h3>{{product.title}}</h3></a>
                 <span>{{product.price | currency:"$":0}}</span>
                 <a class="btn ambtn" ng-click="amCart.addItem(product.ID, product.title, product.src, product.price, 1)" title="Add to Cart"  href="#">Add to cart</a>
               </div>
             </div>
           </div>
         </div>
       </div>

   </div>

    </div>


    <div class="row">



          <div class="amtitle title-double-border shape-sd">
            <h3><span class="fa fa-laptop"></span>  Two coloum carousel</h3>
          </div>



      <div class="amcarousel"   slides-per-column="2">
        <!-- Navigation -->
       <div class="amCarousel-button-next"><i class="fa fa-chevron-right" ></i></div>
       <div class="amCarousel-button-prev"><i class="fa fa-chevron-left" ></i></div>

       <div class="swiper-wrapper">
         <div class="swiper-slide product-outer marginSmBottom" ng-repeat="product in p.getProductByCategory(['man', 'woman', 'child'])">
           <div class="product-inner">
             <div class="product" >

               <div class="feature-image">
                 <img src="{{product.src}}" class="img-responsive" alt="AdidasHoodie" />
               </div>

               <div class="product-details">
                 <a href=""><h3>{{product.title}}</h3></a>
                 <span>{{product.price | currency:"$":0}}</span>
                 <a class="btn ambtn" ng-click="amCart.addItem(product.ID, product.title, product.src, product.price, 1)" title="Add to Cart"  href="#">Add to cart</a>
               </div>
             </div>
           </div>
         </div>
       </div>



   </div>

    </div>
  </div>
</div>
