<am-pagetitle displayname-property="data.title"></am-pagetitle>

<section class="container-fluid page-about marginTop marginBottom">
  <div class="container">
    <div class="row ">


          <div class="col-md-12 col-xs-12 marginBottom">


              <h1>Drag Example</h1>


            <div style="height: 600px; width: 100%; padding: 40px;">
              <div style="height: 100%; width: 100%; border: 1px solid #444; position: relative;">
                <div drag-me
                  style='height: 100px; width: 100px; border-radius: 200px; position: absolute; top: 50%; left: 50%; margin: -50px auto auto -50px; transition: -webkit-transform 500ms;'
                  class='alert alert-info'></div>
              </div>
            </div>

            </div>

    </div>
  </div>
</section>
