<am-pagetitle displayname-property="data.title"></am-pagetitle>

<div class="container-fluid marginTop marginBottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

<div class="heading-container">
    <div class="component heading-component">

        <div class="amtitle title-double-border title-center">
          <h1>Testimonials</h1>
        </div>

        <div class="testimonials">
          <div class="quote col-md-4 gride">
          <blockquote class="rectangle-speech-border">
                  <p>This is a blockquote that is styled to look like a speech bubble This is a blockquote that is styled to look like a speech bubble</p>
          </blockquote>
            <div class="author">
              <img src="https://pbs.twimg.com/profile_images/1716082508/i.jpg" >
              <div class="author-info">
                <span class="author-name">Anton Shauchenka</span>
                <span class="author-position">CDO, TrackDuck</span>
              </div>
            </div>
          </div>
          <div class="quote col-md-4 gride">
          <blockquote class="rectangle-speech-border">
                  <p>This is a blockquote that is styled to look like a speech bubble This is a blockquote that is styled to look like a speech bubble</p>
          </blockquote>
            <div class="author">
              <img src="https://pbs.twimg.com/profile_images/1716082508/i.jpg" >
              <div class="author-info">
                <span class="author-name">Anton Shauchenka</span>
                <span class="author-position">CDO, TrackDuck</span>
              </div>
            </div>
          </div>
          <div class="quote col-md-4 gride">
          <blockquote class="rectangle-speech-border">
                  <p>This is a blockquote that is styled to look like a speech bubble This is a blockquote that is styled to look like a speech bubble</p>
          </blockquote>
            <div class="author">
              <img src="https://pbs.twimg.com/profile_images/1716082508/i.jpg" >
              <div class="author-info">
                <span class="author-name">Anton Shauchenka</span>
                <span class="author-position">CDO, TrackDuck</span>
              </div>
            </div>
          </div>
        </div>


          <div class="divider"><i class="fa fa-desktop" ></i></div>


          <div class="testimonials">
          <div class="quote col-md-6 gride">
          <blockquote class="rectangle-speech-border">
                  <p>This is a blockquote that is styled to look like a speech bubble This is a blockquote that is styled to look like a speech bubble</p>
          </blockquote>
            <div class="author">
              <img src="https://pbs.twimg.com/profile_images/1716082508/i.jpg" >
              <div class="author-info">
                <span class="author-name">Anton Shauchenka</span>
                <span class="author-position">CDO, TrackDuck</span>
              </div>
            </div>
          </div>
          <div class="quote col-md-6 gride">
          <blockquote class="rectangle-speech-border">
                  <p>This is a blockquote that is styled to look like a speech bubble This is a blockquote that is styled to look like a speech bubble</p>
          </blockquote>
            <div class="author">
              <img src="https://pbs.twimg.com/profile_images/1716082508/i.jpg" >
              <div class="author-info">
                <span class="author-name">Anton Shauchenka</span>
                <span class="author-position">CDO, TrackDuck</span>
              </div>
            </div>
          </div>
        </div>


            <div class="divider"><i class="fa fa-desktop" ></i></div>

      <div class="testimonials">

        <div class="quote col-md-4 classic">
          <blockquote>
              <p>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </p>

          </blockquote>
          <div class="author">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
            <div class="author-info">
              <span class="author-name">Anton Shauchenka</span>
              <span class="author-position">CDO, TrackDuck</span>
            </div>
          </div>
        </div>
        <div class="quote col-md-4 classic">
          <blockquote>
              <p>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </p>

          </blockquote>
          <div class="author">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
            <div class="author-info">
              <span class="author-name">Anton Shauchenka</span>
              <span class="author-position">CDO, TrackDuck</span>
            </div>
          </div>
        </div>
        <div class="quote col-md-4 classic">
          <blockquote>
              <p>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </p>

          </blockquote>
          <div class="author">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
            <div class="author-info">
              <span class="author-name">Anton Shauchenka</span>
              <span class="author-position">CDO, TrackDuck</span>
            </div>
          </div>
        </div>
      </div>

      <div class="divider"><i class="fa fa-desktop" ></i></div>

      <div class="testimonials">

        <div class="quote col-md-6 classic">
          <blockquote>
              <p>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </p>

          </blockquote>
          <div class="author">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
            <div class="author-info">
              <span class="author-name">Anton Shauchenka</span>
              <span class="author-position">CDO, TrackDuck</span>
            </div>
          </div>
        </div>
        <div class="quote col-md-6 classic">
          <blockquote>
              <p>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </p>

          </blockquote>
          <div class="author">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
            <div class="author-info">
              <span class="author-name">Anton Shauchenka</span>
              <span class="author-position">CDO, TrackDuck</span>
            </div>
          </div>
        </div>
      </div>
        <div class="divider"><i class="fa fa-desktop" ></i></div>
      <div class="testimonials">

        <div class="quote colorize">
          <div class="author">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
            <div class="author-info">
              <span class="author-name">Anton Shauchenka</span>
              <span class="author-position">CDO, TrackDuck</span>
            </div>
          </div>
          <blockquote>
              <p>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </p>

          </blockquote>

        </div>
        <div class="quote colorize">
          <div class="author">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
            <div class="author-info">
              <span class="author-name">Anton Shauchenka</span>
              <span class="author-position">CDO, TrackDuck</span>
            </div>
          </div>
          <blockquote>
              <p>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </p>

          </blockquote>

        </div>
      </div>



      <div class="divider"><i class="fa fa-desktop" ></i></div>
    <div class="testimonials">

      <div class="quote modern">
        <blockquote>
            <p>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </p>

        </blockquote>
        <div class="author">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
          <div class="author-info">
            <span class="author-name">Anton Shauchenka</span>
            <span class="author-position">CDO, TrackDuck</span>
          </div>
        </div>

      </div>
      <div class="quote modern dark">

        <blockquote>
            <p>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </p>
        </blockquote>
        <div class="author">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
          <div class="author-info">
            <span class="author-name">Anton Shauchenka</span>
            <span class="author-position">CDO, TrackDuck</span>
          </div>
        </div>

      </div>
    </div>


    </div>
</div>
</div>
</div>
</div>
</div>
