<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

<div class="component" id="icon-effect-component">
    <div class="title-entry title-center shape-dash">
    <div class="title">
      <h1>Icon Effects</h1>
    </div>
  </div>

  <ul class="list-unstyled list-inline">


        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-1  effect-a"></i>
            <code>effect-1 effect-a</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-1 effect-b"></i>
            <code>effect-1 effect-b</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-2 effect-a"></i>
            <code>effect-2 effect-a</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-2 effect-b"></i>
            <code>effect-2 effect-b</code>
        </li>

        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-3 effect-a"></i>
            <code>effect-3 effect-a</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-3 effect-b"></i>
            <code>effect-3 effect-b</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-4 effect-a"></i>
            <code>effect-4 effect-a</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-4 effect-b"></i>
            <code>effect-4 effect-b</code>
        </li>

        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-5 effect-a"></i>
            <code>effect-5 effect-a</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-5 effect-b"></i>
            <code>effect-5 effect-b</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-5 effect-c"></i>
            <code>effect-5 effect-c</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-5 effect-d"></i>
            <code>effect-5 effect-d</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-6"> </i>
            <code>effect-6</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-7 effect-a"></i>
            <code>effect-7 effect-a</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-7 effect-b"></i>
            <code>effect-7 effect-b</code>
        </li>

        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-8"></i>
            <code>effect-8</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-9 effect-a"></i>
            <code>effect-9 effect-a</code>
        </li>
        <li class="icon-entry">
            <i class="fa fa-video-camera fa-3x icon-effect effect-9 effect-b"></i>
            <code>effect-9 effect-b</code>
        </li>

        <li class="icon-entry">
            <i class="flaticon-leaf64 small icon-effect effect-1  effect-a"></i>.
            <code>small</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect mini effect-1  effect-a"></i>
            <code>mini</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect auto-width effect-1  effect-a"></i>
            <code>auto-width</code>
        </li>


        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-1 square effect-a"></i>
            <code>effect-1 effect-a</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-1 square effect-b"></i>
            <code>effect-1 effect-b</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-2 square effect-a"></i>
            <code>effect-2 effect-a</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-2 square effect-b"></i>
            <code>effect-2 effect-b</code>
        </li>

        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-3 square effect-a"></i>
            <code>effect-3 effect-a</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-3 square effect-b"></i>
            <code>effect-3 effect-b</code>
        </li>

        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-5 square effect-a"></i>
            <code>effect-5 effect-a</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect square effect-6"> </i>
            <code>effect-6</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-7 square effect-a"></i>
            <code>effect-7 effect-a</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-7 square effect-b"></i>
            <code>effect-7 effect-b</code>
        </li>

        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect square effect-8"></i>
            <code>effect-8</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect effect-9 square effect-a"></i>
            <code>effect-9 effect-a</code>
        </li>
        <li class="icon-entry">
            <i class="fa fa-video-camera fa-3x icon-effect effect-9 square effect-b"></i>
            <code>effect-9 effect-b</code>
        </li>

        <li class="icon-entry">
            <i class="flaticon-leaf64 small icon-effect effect-1 square effect-a"></i>.
            <code>small</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect mini effect-1 square effect-a"></i>
            <code>mini</code>
        </li>
        <li class="icon-entry">
            <i class="flaticon-leaf64 icon-effect auto-width effect-1 square effect-a"></i>
            <code>auto-width</code>
        </li>

  </ul>

</div>
</div>
</div>
</div>
</div>
