<am-pagetitle displayname-property="data.title"></am-pagetitle>

<section class="container-fluid page-about marginTop marginBottom">
  <div class="container">
    <div class="row ">
        <div class="col-md-6 col-xs-12 marginBottom">
          <div class="ampanel panel-group" ui-state="myAccordion" ui-default="2">

          <div class="panel panel-default" ng-repeat="i in [1,2,3]">
            <div class="panel-heading" ui-set="{'myAccordion': i}">
              <h4 class="panel-title">
                  Accordion Title#{{i}}
              </h4>
              <i class="fa" ui-class="{'fa-minus': myAccordion == {{i}}, 'fa-plus':myAccordion != {{i}}}" ></i>
            </div>

              <div class="panel-body" ui-if="myAccordion == {{i}}">
                <h3>This is Heading {{i}}</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sem nunc, facilisis id feugiat sed, dictum sed tellus. Fusce eget augue id turpis finibus bibendum et id quam. In id lectus et lectus malesuada aliquam efficitur a orci. Vestibulum euismod lacus eget nulla vehicula vehicula. Nunc tortor nisi, blandit sed sapien id, ultrices molestie erat. Donec placerat pulvinar pellentesque. Fusce laoreet quam nibh, at porta justo rhoncus rutrum. Donec lobortis auctor tellus. Morbi id urna dapibus, gravida leo sit amet, luctus nisi. Curabitur ligula neque, dignissim nec ornare vel, gravida ut sem. Fusce mattis tincidunt ligula in ultricies. In convallis condimentum tellus ut vehicula. Nunc semper eu ante a congue. Duis ut quam vehicula, egestas tellus ac, dapibus orci. </p>
              </div>

          </div>
        </div>

        </div>
        <div class="col-md-6 col-xs-12 marginBottom">
          <div class="ampanel panel-group" ui-state="myAccordion2" ui-default="1">

          <div class="panel panel-default borderColor" ng-repeat="i in [1,2,3]">
            <div class="panel-heading bgColor" ui-set="{'myAccordion2': i}">
              <h4 class="panel-title">
                  Accordion Title#{{i}}
              </h4>
              <i class="fa" ui-class="{'fa-minus': myAccordion2 == {{i}}, 'fa-plus':myAccordion2 != {{i}}}" ></i>
            </div>

              <div class="panel-body" ui-if="myAccordion2 == {{i}}">
                <h3>This is Heading {{i}}</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sem nunc, facilisis id feugiat sed, dictum sed tellus. Fusce eget augue id turpis finibus bibendum et id quam. In id lectus et lectus malesuada aliquam efficitur a orci. Vestibulum euismod lacus eget nulla vehicula vehicula. Nunc tortor nisi, blandit sed sapien id, ultrices molestie erat. Donec placerat pulvinar pellentesque. Fusce laoreet quam nibh, at porta justo rhoncus rutrum. Donec lobortis auctor tellus. Morbi id urna dapibus, gravida leo sit amet, luctus nisi. Curabitur ligula neque, dignissim nec ornare vel, gravida ut sem. Fusce mattis tincidunt ligula in ultricies. In convallis condimentum tellus ut vehicula. Nunc semper eu ante a congue. Duis ut quam vehicula, egestas tellus ac, dapibus orci. </p>
              </div>

          </div>
        </div>
        </div>

        <div class="col-md-6 col-xs-12 marginBottom">
          <div class="ampanel panel-group" ui-state="myAccordion3" ui-default="1">

          <div class="panel panel-default borderColor radiusLg" ng-repeat="i in [1,2,3]">
            <div class="panel-heading bgColor radiusLg" ui-set="{'myAccordion3': i}">
              <h4 class="panel-title">
                  Accordion Title#{{i}}
              </h4>
              <i class="fa" ui-class="{'fa-minus': myAccordion3 == {{i}}, 'fa-plus':myAccordion3 != {{i}}}" ></i>
            </div>

              <div class="panel-body" ui-if="myAccordion3 == {{i}}">
                <h3>This is Heading {{i}}</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sem nunc, facilisis id feugiat sed, dictum sed tellus. Fusce eget augue id turpis finibus bibendum et id quam. In id lectus et lectus malesuada aliquam efficitur a orci. Vestibulum euismod lacus eget nulla vehicula vehicula. Nunc tortor nisi, blandit sed sapien id, ultrices molestie erat. Donec placerat pulvinar pellentesque. Fusce laoreet quam nibh, at porta justo rhoncus rutrum. Donec lobortis auctor tellus. Morbi id urna dapibus, gravida leo sit amet, luctus nisi. Curabitur ligula neque, dignissim nec ornare vel, gravida ut sem. Fusce mattis tincidunt ligula in ultricies. In convallis condimentum tellus ut vehicula. Nunc semper eu ante a congue. Duis ut quam vehicula, egestas tellus ac, dapibus orci. </p>
              </div>

          </div>
        </div>
        </div>

    </div>
  </div>
</section>
