<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

    <div class="component" id="icon-effect-component">
    <div class="title-entry title-center shape-dash">
    <div class="title">
      <h1>Icon Effects</h1>
    </div>
  </div>
        <div class="IconEffects">
            <h2>Icon Effects</h2>
            <ul class="list-unstyled list-inline">

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-1  effect-a"></i>
                    <span>effect-1 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-1 effect-b"></i>
                    <span>effect-1 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-2 effect-a"></i>
                    <span>effect-2 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-2 effect-b"></i>
                    <span>effect-2 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-3 effect-a"></i>
                    <span>effect-3 effect-a</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-3 effect-b"></i>
                    <span>effect-3 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-4 effect-a"></i>
                    <span>effect-4 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-4 effect-b"></i>
                    <span>effect-4 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-5 effect-a"></i>
                    <span>effect-5 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-5 effect-b"></i>
                    <span>effect-5 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-5 effect-c"></i>
                    <span>effect-5 effect-c</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-5 effect-d"></i>
                    <span>effect-5 effect-d</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-6"> </i>
                    <span>effect-6 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-7 effect-a"></i>
                    <span>effect-7 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-7 effect-b"></i>
                    <span>effect-7 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-8"></i>
                    <span>effect-8 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-9 effect-a"></i>
                    <span>effect-9 effect-a</span>
                </li>

                <li class="icon-entry">
                    <i class="fa fa-video-camera fa-3x icon-effect effect-9 effect-b"></i>
                    <span>effect-9 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-1 square effect-a"></i>
                    <span>effect-1 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-1 square effect-b"></i>
                    <span>effect-1 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-2 square effect-a"></i>
                    <span>effect-2 effect-a</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-2 square effect-b"></i>
                    <span>effect-2 effect-b</span>
                </li>

                 <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-3 square effect-a"></i>
                    <span>effect-3 effect-a</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-3 square effect-b"></i>
                    <span>effect-3 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-5 square effect-a"></i>
                    <span>effect-5 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect square effect-6"> </i>
                    <span>effect-b effect-6</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-7 square effect-a"></i>
                    <span>effect-7 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-7 square effect-b"></i>
                    <span>effect-7 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect square effect-8"></i>
                    <span>effect-b effect-8</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect effect-9 square effect-a"></i>
                    <span>effect-9 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="fa fa-video-camera fa-3x icon-effect effect-9 square effect-b"></i>
                    <span>effect-9 effect-b</span>
                </li>

            </ul>
        </div>



        <div class="LightCircle icons">
            <h2>Small Icon</h2>
           <ul class="list-unstyled list-inline">

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-1  effect-a"></i>
                    <span>effect-1 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-1 effect-b"></i>
                    <span>effect-1 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-2 effect-a"></i>
                    <span>effect-2 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-2 effect-b"></i>
                    <span>effect-2 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-3 effect-a"></i>
                    <span>effect-3 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-3 effect-b"></i>
                    <span>effect-3 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-4 effect-a"></i>
                    <span>effect-4 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-4 effect-b"></i>
                    <span>effect-4 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-5 effect-a"></i>
                    <span>effect-5 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-5 effect-b"></i>
                    <span>effect-5 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-5 effect-c"></i>
                    <span>effect-5 effect-c</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-5 effect-d"></i>
                    <span>effect-5 effect-d</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-6"> </i>
                    <span>effect-6 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-7 effect-a"></i>
                    <span>effect-7 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-7 effect-b"></i>
                    <span>effect-7 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-8"></i>
                    <span>effect-8 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-9 effect-a"></i>
                    <span>effect-9 effect-a</span>
                </li>

                <li class="icon-entry">
                    <i class="fa fa-video-camera fa-3x icon-effect small effect-9 effect-b"></i>
                    <span>effect-9 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-1 square effect-a"></i>
                    <span>effect-1 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-1 square effect-b"></i>
                    <span>effect-1 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-2 square effect-a"></i>
                    <span>effect-2 effect-a</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-2 square effect-b"></i>
                    <span>effect-2 effect-b</span>
                </li>

                 <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-3 square effect-a"></i>
                    <span>effect-3 effect-a</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-3 square effect-b"></i>
                    <span>effect-3 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-5 square effect-a"></i>
                    <span>effect-5 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small square effect-6"> </i>
                    <span>effect-b effect-6</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-7 square effect-a"></i>
                    <span>effect-7 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-7 square effect-b"></i>
                    <span>effect-7 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small square effect-8"></i>
                    <span>effect-b effect-8</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect small effect-9 square effect-a"></i>
                    <span>effect-9 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="fa fa-video-camera fa-3x icon-effect small effect-9 square effect-b"></i>
                    <span>effect-9 effect-b</span>
                </li>

            </ul>
        </div>



        <div class="LightRounded icons">
            <h2>MINI ICON</h2>
            <ul class="list-unstyled list-inline">

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-1  effect-a"></i>
                    <span>effect-1 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-1 effect-b"></i>
                    <span>effect-1 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-2 effect-a"></i>
                    <span>effect-2 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-2 effect-b"></i>
                    <span>effect-2 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-3 effect-a"></i>
                    <span>effect-3 effect-a</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-3 effect-b"></i>
                    <span>effect-3 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-4 effect-a"></i>
                    <span>effect-4 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-4 effect-b"></i>
                    <span>effect-4 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-5 effect-a"></i>
                    <span>effect-5 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-5 effect-b"></i>
                    <span>effect-5 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-5 effect-c"></i>
                    <span>effect-5 effect-c</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-5 effect-d"></i>
                    <span>effect-5 effect-d</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-6"> </i>
                    <span>effect-6 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-7 effect-a"></i>
                    <span>effect-7 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-7 effect-b"></i>
                    <span>effect-7 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-8"></i>
                    <span>effect-8 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-9 effect-a"></i>
                    <span>effect-9 effect-a</span>
                </li>

                <li class="icon-entry">
                    <i class="fa fa-video-camera fa-3x icon-effect mini effect-9 effect-b"></i>
                    <span>effect-9 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-1 square effect-a"></i>
                    <span>effect-1 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-1 square effect-b"></i>
                    <span>effect-1 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-2 square effect-a"></i>
                    <span>effect-2 effect-a</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-2 square effect-b"></i>
                    <span>effect-2 effect-b</span>
                </li>

                 <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-3 square effect-a"></i>
                    <span>effect-3 effect-a</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-3 square effect-b"></i>
                    <span>effect-3 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-5 square effect-a"></i>
                    <span>effect-5 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini square effect-6"> </i>
                    <span>effect-b effect-6</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-7 square effect-a"></i>
                    <span>effect-7 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-7 square effect-b"></i>
                    <span>effect-7 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini square effect-8"></i>
                    <span>effect-b effect-8</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect mini effect-9 square effect-a"></i>
                    <span>effect-9 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="fa fa-video-camera fa-3x icon-effect mini effect-9 square effect-b"></i>
                    <span>effect-9 effect-b</span>
                </li>

            </ul>
        </div>


        <div class="DarkRounded icons">
            <h2>Extra Large Icons</h2>
             <ul class="list-unstyled list-inline">

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-1  effect-a"></i>
                    <span>effect-1 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-1 effect-b"></i>
                    <span>effect-1 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-2 effect-a"></i>
                    <span>effect-2 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-2 effect-b"></i>
                    <span>effect-2 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-3 effect-a"></i>
                    <span>effect-3 effect-a</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-3 effect-b"></i>
                    <span>effect-3 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-4 effect-a"></i>
                    <span>effect-4 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-4 effect-b"></i>
                    <span>effect-4 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-5 effect-a"></i>
                    <span>effect-5 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-5 effect-b"></i>
                    <span>effect-5 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-5 effect-c"></i>
                    <span>effect-5 effect-c</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-5 effect-d"></i>
                    <span>effect-5 effect-d</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-6"> </i>
                    <span>effect-6 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-7 effect-a"></i>
                    <span>effect-7 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-7 effect-b"></i>
                    <span>effect-7 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-8"></i>
                    <span>effect-8 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-9 effect-a"></i>
                    <span>effect-9 effect-a</span>
                </li>

                <li class="icon-entry">
                    <i class="fa fa-video-camera fa-3x icon-effect xl effect-9 effect-b"></i>
                    <span>effect-9 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-1 square effect-a"></i>
                    <span>effect-1 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-1 square effect-b"></i>
                    <span>effect-1 effect-b</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-2 square effect-a"></i>
                    <span>effect-2 effect-a</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-2 square effect-b"></i>
                    <span>effect-2 effect-b</span>
                </li>

                 <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-3 square effect-a"></i>
                    <span>effect-3 effect-a</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-3 square effect-b"></i>
                    <span>effect-3 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-5 square effect-a"></i>
                    <span>effect-5 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl square effect-6"> </i>
                    <span>effect-b effect-6</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-7 square effect-a"></i>
                    <span>effect-7 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-7 square effect-b"></i>
                    <span>effect-7 effect-b</span>
                </li>

                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl square effect-8"></i>
                    <span>effect-b effect-8</span>
                </li>
                <li class="icon-entry">
                    <i class="flaticon-leaf64 icon-effect xl effect-9 square effect-a"></i>
                    <span>effect-9 effect-a</span>
                </li>
                <li class="icon-entry">
                    <i class="fa fa-video-camera fa-3x icon-effect xl effect-9 square effect-b"></i>
                    <span>effect-9 effect-b</span>
                </li>

            </ul>
        </div>

</div>
</div>
</div>
</div>
</div>
