<am-pagetitle displayname-property="data.title"></am-pagetitle>

<div class="container-fluid">
	<div class="container">
        <div class="row">
			<section class="callToAction-outer margin-bottom">
				<div class="callToAction-inner">
					<div class="callToAction">
						<div class="callToAction-content">
							<h1>Angular Mart is <strong> everything </strong> you need to create <strong> rapid </strong> website!</h1>
							<p><em>First time</em> HTML <em>Angular</em> Site Template on ThemeForest</p>
						</div>
						<div class="callToAction-btn">
							<a class="btn button-teal btn-lg">BUY NOW!</a>
						</div>
					</div>
				</div>
			</section>

			<section class="callToAction-outer box margin-bottom">
				<div class="callToAction-inner">
					<div class="callToAction">
						<div class="callToAction-content">
							<h1>Angular Mart is <strong> everything </strong> you need to create <strong> rapid </strong> website!</h1>
							<p><em>First time</em> HTML <em>Angular</em> Site Template on ThemeForest</p>
						</div>
						<div class="callToAction-btn">
							<a class="btn button-teal btn-lg">BUY NOW!</a>
						</div>
					</div>
				</div>
			</section>

			<section class="callToAction-outer box-bg margin-bottom">
				<div class="callToAction-inner">
					<div class="callToAction">
						<div class="callToAction-content">
							<h1>Angular Mart is <strong> everything </strong> you need to create <strong> rapid </strong> website!</h1>
							<p><em>First time</em> HTML <em>Angular</em> Site Template on ThemeForest</p>
						</div>
						<div class="callToAction-btn">
							<a class="btn button-teal btn-lg">BUY NOW!</a>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
