<am-pagetitle displayname-property="data.title"></am-pagetitle>

<div class="container-fluid">
	<div class="container">
        <div class="row">
			<div class="callToAction marginBottom clearfix">
				<div class="callToAction-inner ">

						<div class="callToAction-content">
							<h3>Angular Mart is <span class="color"> everything </span> you need to create <span class="color"> rapid </span> website!</h3>
							<p class="lead"><em>First time</em> HTML <em>Angular</em> Site Template on ThemeForest</p>
						</div>
						<div class="callToAction-btn">
							<a class="btn button-teal btn-lg">BUY NOW!</a>
						</div>

				</div>
			</div>

			<div class="callToAction marginBottom clearfix border">
				<div class="callToAction-inner ">

						<div class="callToAction-content">
							<h3>Angular Mart is <span class="color">  everything </span> you need to create <span class="color">  rapid </span> website!</h3>
							<p class="lead"><em>First time</em> HTML <em>Angular</em> Site Template on ThemeForest</p>
						</div>
						<div class="callToAction-btn">
							<a class="btn borderSm color btn-lg">BUY NOW!</a>
						</div>

				</div>
			</div>

			<div class="callToAction marginBottom bgColor clearfix">
				<div class="callToAction-inner">

						<div class="callToAction-content">
							<h3>Angular Mart is <span class="colorAsh"> everything </span> you need to create <span class="colorAsh"> rapid </span> website!</h3>
							<p class="lead colorWhite"><em>First time</em> HTML <em>Angular</em> Site Template on ThemeForest</p>
						</div>
						<div class="callToAction-btn">
							<a class="btn borderSm borderColorWhite btn-lg">BUY NOW!</a>
						</div>

				</div>
			</div>
		</div>
	</div>


</div>
<div class="callToAction marginBottom bgColor clearfix">
	<div class="container">
	<div class="callToAction-inner">

			<div class="callToAction-content">
				<h3>Angular Mart is <span class="colorAsh"> everything </span> you need to create <span class="colorAsh"> rapid </span> website!</h3>
				<p class="lead colorWhite"><em>First time</em> HTML <em>Angular</em> Site Template on ThemeForest</p>
			</div>
			<div class="callToAction-btn">
				<a class="btn borderSm borderColorWhite btn-lg">BUY NOW!</a>
			</div>

	</div>
</div>
</div>
