<div class="page-content-box">

  <div class="component content-box-component" >


    <div class="contentboxs three-box content-box-icon-left icon-box">

       <div class="col-md-4 margin-bottom">
           <div class="content-box" >
               <div class="content-box-icon">
                  <i class="flaticon-leaf64 icon-effect effect-6"> </i>
               </div>
               <div class="content-box-content">
                 <h3>This is title</h3>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
               </div>
             </div>
         </div>

         <div class="col-md-4 margin-bottom">
             <div class="content-box" >
               <div class="content-box-icon">
                  <i class="fa fa-crosshairs icon-effect effect-5 effect-b"></i>
               </div>
                 <div class="content-box-content">
                   <h3>This is title</h3>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
                 </div>
               </div>
           </div>

           <div class="col-md-4 margin-bottom">
               <div class="content-box" >
                 <div class="content-box-icon">
                   <i class="flaticon-bag41 icon-effect effect-8"></i>
                 </div>
                   <div class="content-box-content">
                      <h3>This is title</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
                   </div>
                 </div>
             </div>
       </div>
  </div>

  <div class="component content-box-component" >


    <div class="contentboxs three-box content-box-icon-top icon-box content-box-border content-box-style content-center">

       <div class="col-md-4 margin-bottom">
           <div class="content-box" >
               <div class="content-box-icon">
                  <i class="flaticon-leaf64 icon-effect effect-6"> </i>
               </div>
               <div class="content-box-title">
                   <h3>This is title</h3>
               </div>

               <div class="content-box-content">
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
               </div>
             </div>
         </div>

         <div class="col-md-4 margin-bottom">
             <div class="content-box" >
               <div class="content-box-icon">
                  <i class="fa fa-crosshairs icon-effect effect-5 effect-b"></i>
               </div>
                 <div class="content-box-title">
                     <h3>This is title</h3>
                 </div>

                 <div class="content-box-content">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
                 </div>
               </div>
           </div>

           <div class="col-md-4 margin-bottom">
               <div class="content-box" >
                 <div class="content-box-icon">
                   <i class="flaticon-bag41 icon-effect effect-8"></i>
                 </div>
                   <div class="content-box-title">
                       <h3>This is title</h3>
                   </div>

                   <div class="content-box-content">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
                   </div>
                 </div>
             </div>
       </div>
  </div>
  <div class="component content-box-component" >

     <div class="contentboxs three-box content-box-image-top content-box-border content-box-style content-center">

        <div class="col-md-4 margin-bottom">
            <div class="content-box" >
                <div class="content-box-image">
                    <img src="http://placehold.it/600x400" alt="..." class="img-responsive">
                </div>
                <div class="content-box-title">
                    <h3>This is title</h3>
                </div>

                <div class="content-box-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
                </div>
                <div class="content-box-button">
                    <a class="btn button-aqua">Read More</a>
                </div>
              </div>
          </div>

          <div class="col-md-4 margin-bottom">
              <div class="content-box" >
                  <div class="content-box-image">
                      <img src="http://placehold.it/600x400" alt="..." class="img-responsive">
                  </div>
                  <div class="content-box-title">
                      <h3>This is title</h3>
                  </div>

                  <div class="content-box-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
                  </div>
                  <div class="content-box-button">
                      <a class="btn button-aqua">Read More</a>
                  </div>
                </div>
            </div>

            <div class="col-md-4 margin-bottom">
                <div class="content-box" >
                    <div class="content-box-image">
                        <img src="http://placehold.it/600x400" alt="..." class="img-responsive">
                    </div>
                    <div class="content-box-title">
                        <h3>This is title</h3>
                    </div>

                    <div class="content-box-content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
                    </div>
                    <div class="content-box-button">
                        <a class="btn button-aqua">Read More</a>
                    </div>
                  </div>
              </div>

        </div>


    </div>

    <div class="component content-box-component" >


       <div class="contentboxs three-box content-box-image-left content-box-border  content-center">

          <div class="col-md-4 margin-bottom">
              <div class="content-box" >
                  <div class="content-box-image">
                      <img src="http://placehold.it/150x100" alt="..." class="img-responsive">
                  </div>
                  <div class="content-box-title">
                      <h5>This is title</h5>
                      <p>How funny we are!!</p>
                  </div>
                </div>
            </div>

            <div class="col-md-4 margin-bottom">
                <div class="content-box" >
                    <div class="content-box-image">
                        <img src="http://placehold.it/150x100" alt="..." class="img-responsive">
                    </div>
                    <div class="content-box-title">
                        <h5>This is title</h5>
                        <p>How funny we are!!</p>
                    </div>
                  </div>
              </div>

              <div class="col-md-4 margin-bottom">
                  <div class="content-box" >
                      <div class="content-box-image">
                          <img src="http://placehold.it/150x100" alt="..." class="img-responsive">
                      </div>
                      <div class="content-box-title">
                          <h5>This is title</h5>
                          <p>How funny we are!!</p>
                      </div>
                    </div>
                </div>

          </div>


      </div>
</div>
