<am-pagetitle displayname-property="data.title"></am-pagetitle>

<section class="container-fluid page-about marginTop marginBottom">
  <div class="container">
    <div class="row ">


          <div class="col-md-12 col-xs-12 marginBottom">

            <div class="carousel">
              <div class="carousel-inner">
                <div class="carousel-item"
                    style='background-image: url(images/slider/9574.jpg);'>
                </div>
                <div class="carousel-item"
                     style='background-image: url(images/slider/slider31.jpg);'>
                </div>
                <div class="carousel-item"
                     style='background-image: url(images/slider/slider32.jpg);'>
                </div>
                <div class="carousel-item"
                     style='background-image: url(images/slider/slider33.jpg);'>
                </div>
                <div class="carousel-item"
                     style='background-image: url(images/slider/slider34.jpg);'>
                </div>
                <div class="carousel-item"
                     style='background-image: url(images/slider/slider41.jpg);'>
                </div>
                <div class="carousel-item"
                     style='background-image: url(images/slider/slider42.jpg);'>
                </div>
                <div class="carousel-item"
                     style='background-image: url(images/slider/slider43.jpg);'>
                </div>
                <div class="carousel-item"
                     style='background-image: url(images/slider/slider44.jpg);'>
                </div>
              </div>
            </div>

            </div>

    </div>
  </div>
</section>
