<am-pagetitle displayname-property="data.title"></am-pagetitle>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

<div class="heading-container">



  <div class="component heading-component">

    <div class="title-entry title3D">
      <h3>Hey everyone look at this</h3>
      <h1><span class="fa fa-star"></span> <span>Awesome Vintage Title</span> <span class="fa fa-star"></span></h1>
    </div>
  </div>
  <div class="component heading-component">

    <div class="title-entry boder-bottom small-width title-center">
      <h1>This is an aowsome title</h1>
      <small style="letter-spacing: 0.2em;">This is subtitle</small>
    </div>
    <div class="title-entry boder-bottom small-width title-center">
        <h2>This is an aowsome title</h2>
      <small>This is subtitle</small>
    </div>
    <div class="title-entry title-center boder-bottom small-width">
        <h3>This is an aowsome title</h3>
      <small>This is subtitle</small>

    </div>
  </div>

  <div class="component heading-component">

    <div class="title-entry boder-bottom">
      <h1>This is an aowsome title</h1>
      <small style="letter-spacing: 0.2em;">This is subtitle</small>
    </div>
    <div class="title-entry boder-bottom">
        <h2>This is an aowsome title</h2>
      <small>This is subtitle</small>
    </div>
    <div class="title-entry title-center boder-bottom">
        <h3>This is an aowsome title</h3>
      <small>This is subtitle</small>

    </div>
  </div>

  <div class="component heading-component">

    <div class="title-entry">
      <div class="title">
        <h1>This is an aowsome title</h1>
      </div>
      <small style="letter-spacing: 0.2em;">This is subtitle</small>

    </div>
    <div class="title-entry">
      <div class="title">
        <h2>This is an aowsome title</h2>
      </div>
      <small>This is subtitle</small>

    </div>
    <div class="title-entry title-center">
      <div class="title">
        <h3>This is an aowsome title</h3>
      </div>
      <small>This is subtitle</small>

    </div>
  </div>

  <div class="component heading-component">

    <div class="title-entry ">
      <div class="title">
        <h1>This is an aowsome title</h1>
      </div>

    </div>
    <div class="title-entry">
      <div class="title">
        <h2>This is an aowsome title</h2>
      </div>

    </div>
    <div class="title-entry  title-center">
      <div class="title">
        <h3>This is an aowsome title</h3>
      </div>

    </div>


  </div>

  <div class="component heading-component">

    <div class="title-entry shape-dotted">
      <div class="title">
        <h1>This is an aowsome title</h1>
      </div>

      <small style="letter-spacing: 0.2em;">This is subtitle</small>

    </div>
    <div class="title-entry shape-dash">
      <div class="title">
        <h1>This is an aowsome title</h1>
      </div>
      <small>This is subtitle</small>

    </div>
    <div class="title-entry shape-dotted-solid title-center">
      <div class="title">
        <h1>This is an aowsome title</h1>
      </div>
      <small>This is subtitle</small>

    </div>

    <div class="title-entry shape-dash-solid title-center">
      <div class="title">
        <h1>This is an aowsome title</h1>
      </div>
      <small>This is subtitle</small>

    </div>
  </div>

  <div class="component component-class">
    <ul class="list-unstyled">
      <li><h2>Class  :</h2></li>
      <li><code>title-entry</code></li>
      <li><code>title-center</code></li>
      <li><code>title-right</code></li>
      <li><code>shapee-dash</code></li>
      <li><code>shape-dotted</code></li>
      <li><code>shape-dotted-solid</code></li>
      <li><code>shape-dash-solid</code></li>
      <li><code>title3D</code></li>
    </ul>
  </div>

</div>
</div>
</div>
</div>
</div>
