<am-pagetitle displayname-property="data.title"></am-pagetitle>

<div class="container-fluid marginBottom marginTop">
  <div class="container">
    <div class="row ">
      <div class="col-md-12">

<div class="heading-container">

  <div class="heading-component">
    <!-- ========================title-double-border================================ -->
    <div class="amtitle title-double-border">
      <h1>This is a <span>awesome</span> title</h1>
    </div>

    <div class="amtitle title-double-border">
      <h2>This is a This is a <span>awesome</span> title</h2>
    </div>

    <div class="amtitle title-double-border">
      <h3>This is a This is a <span>awesome</span> title</h3>
    </div>

    <div class="amtitle title-double-border">
      <h4>This is a This is a <span>awesome</span> title</h4>
    </div>

    <div class="amtitle title-double-border">
      <h5>This is a This is a <span>awesome</span> title</h5>
    </div>

    <div class="amtitle title-double-border">
      <h6>This is a This is a <span>awesome</span> title</h6>
    </div>
<!-- ========================title-double-border defferen shape================================ -->
    <div class="amtitle title-double-border shape-sd">
      <h1>This is a <span>awesome</span> title</h1>
    </div>

    <div class="amtitle title-double-border shape-dash title-right">
      <h1>This is a <span>awesome</span> title</h1>
    </div>

    <div class="amtitle title-double-border shape-dotted">
      <h2>This is a <span>awesome</span> title</h2>
    </div>

    <div class="amtitle title-double-border shape-dotted title-center">
      <h3>This is a <span>awesome</span> title</h3>
    </div>

    <div class="amtitle title-double-border shape-dash">
      <h4>This is a <span>awesome</span> title</h4>
    </div>

    <div class="amtitle title-double-border shape-sd">
      <h5>This is a <span>awesome</span> title</h5>
    </div>

    <div class="amtitle title-double-border">
      <h6>This is a <span>awesome</span> title</h6>
    </div>

    <!-- ========================title-border================================ -->

    <div class="amtitle title-border">
      <h1>This is a <span>awesome</span> title</h1>
    </div>

    <div class="amtitle title-border">
      <h2>This is a <span>awesome</span> title</h2>
    </div>

    <div class="amtitle title-border title-right">
      <h3>This is a <span>awesome</span> title</h3>
    </div>

    <div class="amtitle title-border title-center">
      <h4>This is a <span>awesome</span> title</h4>
    </div>

    <div class="amtitle title-border">
      <h5>This is a <span>awesome</span> title</h5>
    </div>

    <div class="amtitle title-border">
      <h6>This is a <span>awesome</span> title</h6>
    </div>

<!-- ========================title-bottom-border================================ -->

    <div class="amtitle title-bottom-border">
      <h1>This is a <span>awesome</span> title</h1>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

    <div class="amtitle title-bottom-border">
      <h2>This is a <span>awesome</span> title</h2>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

    <div class="amtitle title-bottom-border">
      <h3>This is a <span>awesome</span> title</h3>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

    <div class="amtitle title-bottom-border">
      <h4>This is a <span>awesome</span> title</h4>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

    <div class="amtitle title-bottom-border">
      <h5>This is a <span>awesome</span> title</h5>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

    <div class="amtitle title-bottom-border">
      <h6>This is a <span>awesome</span> title</h6>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>
<!-- ========================title-bottom-border with subtitle================================ -->
    <div class="amtitle title-bottom-border">
      <h1>This is a <span>awesome</span> title <small>This is <span>awesome</span> subtitle</small></h1>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

    <div class="amtitle title-bottom-border">
      <h2>This is a <span>awesome</span> title <small>This is <span>awesome</span> subtitle</small></h2>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

    <div class="amtitle title-bottom-border">
      <h3>This is a <span>awesome</span> title <small>This is <span>awesome</span> subtitle</small></h3>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

    <div class="amtitle title-bottom-border">
      <h4>This is a <span>awesome</span> title <small>This is <span>awesome</span> subtitle</small></h4>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

    <div class="amtitle title-bottom-border">
      <h5>This is a <span>awesome</span> title <small>This is <span>awesome</span> subtitle</small></h5>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

    <div class="amtitle title-bottom-border">
      <h6>This is a <span>awesome</span> title <small>This is <span>awesome</span> subtitle</small></h6>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

  </div>

  <div class="component heading-component">

    <div class="amtitle title3D">
      <h3>Hey everyone look at this</h3>
      <h1><span class="fa fa-star"></span> <span>Awesome Vintage Title</span> <span class="fa fa-star"></span></h1>
    </div>
  </div>

</div>
</div>
</div>
</div>
</div>
