<div class="heading-container">

  <div class="block heading-block">

    <div class="title-entry ">
      <div class="sep-dash-border"></div>
      <h1>This is an aowsome title</h1>
      <strong style="letter-spacing: 0.2em;">This is subtitle</strong>

    </div>
    <div class="title-entry sep-dubble-border">
      <div class="sep-dash-border"></div>
      <h2>This is an aowsome title</h2>
      <strong>This is subtitle</strong>

    </div>
    <div class="title-entry sep-dubble-border title-center">
      <div class="sep-dash-border"></div>
      <h3>This is an aowsome title</h3>
      <strong>This is subtitle</strong>

    </div>
  </div>

  <div class="block heading-block">

    <div class="title-entry title3D">
      <h3>Hey everyone look at this</h3>
      <h1><span class="fa fa-star"></span> <span>Awesome Vintage Title</span> <span class="fa fa-star"></span></h1>
    </div>
  </div>

  <div class="block heading-block">

    <div class="title-entry ">
      <div class="sep-dash-border"></div>
      <h1>This is an aowsome title</h1>
      <strong style="letter-spacing: 0.2em;">This is subtitle</strong>

    </div>
    <div class="title-entry sep-dubble-border">
      <div class="sep-dash-border"></div>
      <h2>This is an aowsome title</h2>
      <strong>This is subtitle</strong>

    </div>
    <div class="title-entry sep-dubble-border title-center">
      <div class="sep-dash-border"></div>
      <h3>This is an aowsome title</h3>
      <strong>This is subtitle</strong>

    </div>
  </div>

  <div class="block heading-block">

    <div class="title-entry ">
        <div class="sep-dash-border"></div>
      <h1>This is an aowsome title</h1>

    </div>
    <div class="title-entry sep-dubble-border">
      <div class="sep-dash-border"></div>
      <h2>This is an aowsome title</h2>

    </div>
    <div class="title-entry sep-dubble-border title-center">
      <div class="sep-dash-border"></div>
      <h3>This is an aowsome title</h3>

    </div>


  </div>

</div>
