<section class="promo-bar container-fluid">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="promo">
                          <div class="icon-container">
                              <span class="fa fa-shopping-basket fa-3x"></span>
                          </div>
                          <div class="promo-content">
                            <h3>Larges Market</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="promo">
                          <div class="icon-container">
                              <span class="fa fa-shopping-basket fa-3x"></span>
                          </div>
                          <div class="promo-content">
                            <h3>Larges Market</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="promo">
                          <div class="icon-container">
                              <span class="fa fa-shopping-basket fa-3x"></span>
                          </div>
                          <div class="promo-content">
                            <h3>Larges Market</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc. </p>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </section>
            <section class="feature-product container-fluid">
              <div class="container">
                <div class="row">
                  <div class="products-container">
                    <div class="col-md-4 product" ng-repeat="product in allproducts">
                          <div class="feature-image">
                              <img src="images/product/{{product.src}}" class="img-responsive" alt="AdidasHoodie" />
                          </div>
                          <div class="product-content" >
                            <p></p>
                          </div>
                          <div class="product-button">
                              <a href="#/shop/{{product.sku}}" class=""><span class="fa fa-link fa-2x" ></span></a>
                              <am-addtocart></am-addtocart>
                          </div>
                          <h3 class="product-title">{{product.name}}</h3>
                          <p class="price">{{product.price}}</p>
                    </div>


                  </div>
                </div>
              </div>
            </section>
            <section class="auction-bar container-fluid">
              <div class="container">
                <div class="row">
                  <div class="col-md-5"><img src="images/m-commerce.png"></div>
                  <div class="col-md-7">
                      <div class="auction-promo">
                        <h2>ToTal Project Done</h2>
                        <div class="project">
                          <span>1535</span>
                        </div>
                      </div>
                      <div class="auction-promo">
                        <h2>CLIENT SETISFY</h2>
                        <span>100%</span>
                      </div>
                  </div>
                </div>
              </div>
            </section>
