<div class="scrollable">
  <div class="scrollable-content">
    <header class="header header-classic">
      <section class="container-fluid header-top" ng-include="'views/templates/top_header.html'">

      </section>
      <section class="container-fluid menu-bar">
        <am-navigation></am-navigation>
      </section>

    </header>

    <section class="slider-container" ng-include="'views/slider/frontPage-classic.html'"></section>
    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h1>Mobile Angular UI
        Demo <small>1.2</small>
        </h1>
      </div>
      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-gamepad feature-icon text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Play around a little</h3>
            Open the sidebar and start testing features
        </div>
      </div>


      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-tachometer feature-icon  text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Test responsiveness and speed</h3>
            Scroll, tap, navigate, test that everything is smooth
        </div>
      </div>


      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-expand feature-icon  text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Resize your browser</h3>
            Stretch and squeeze your browser window to see both mobile and desktop versions.
        </div>
      </div>

      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-stethoscope feature-icon  text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Submit an issue</h3>
            <p>Please submit any issue you'll find, <a href="https://github.com/mcasimir/mobile-angular-ui/issues" target='blank' id='#home-report'>reporting</a> your user agent string:<br>
            </p>
<pre>{{userAgent}}</pre>
            <p>
              It would help a lot!
            </p>
        </div>
      </div>

    </div>

  </div>
</div>





<!-- <section class="promo-bar container-fluid">
                <div class="container clearfix">
                    <div class="row" >
                    <div class="promo_area">
                      <div class="promo">
                          <div class="icon-container">
                              <span class="fa fa-shopping-basket fa-3x"></span>
                          </div>
                          <div class="promo-content">
                            <h3>Larges Market</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
                          </div>
                      </div>


                      <div class="promo">
                          <div class="icon-container">
                              <span class="fa fa-shopping-basket fa-3x"></span>
                          </div>
                          <div class="promo-content">
                            <h3>Larges Market</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.</p>
                          </div>
                      </div>

                      <div class="promo">
                          <div class="icon-container">
                              <span class="fa fa-shopping-basket fa-3x"></span>
                          </div>
                          <div class="promo-content">
                            <h3>Larges Market</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc. </p>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </section>
            <section class="feature-product container-fluid">
              <div class="container clearfix">
                <div class="row">
                  <div class="products-container">

                    <am-products ></am-products>


                  </div>
                </div>
              </div>
            </section>
            <section class="auction-bar container-fluid">
              <div class="container clearfix">
                  <div class="col-md-5"><img src="images/m-commerce.png"></div>
                  <div class="col-md-7">
                      <div class="auction-promo">
                        <h2>ToTal Project Done</h2>
                        <div class="project">
                          <span>1535</span>
                        </div>
                      </div>
                      <div class="auction-promo">
                        <h2>CLIENT SETISFY</h2>
                        <span>100%</span>
                      </div>
                  </div>
              </div>
            </section> -->
