
    <section class="slider-container" ng-include="'views/slider/slider5.html'"></section>


    <div class="callToAction marginBottom bgColor clearfix">
    	<div class="container">
    	<div class="callToAction-inner">

    			<div class="callToAction-content">
    				<h3>Angular Mart is <span class="" style="color: yellow;"> everything </span> you need to create <span style="color: yellow;"> rapid </span> website!</h3>
    				<p class="lead colorWhite">First time HTML Angular Site Template on ThemeForest</p>
    			</div>
    			<div class="callToAction-btn">
    				<a class="btn borderSm borderColorWhite btn-lg">BUY NOW!</a>
    			</div>

    	</div>
    </div>
    </div>


            <section class="promo-bar container-fluid">
                    <div class="container clearfix">
                        <div class="row" >
                          <div class="flex-box-container col-xs-12">


  <div class="flex-wrapper image-flex">
    <div class="item">
      <img src="http://www.live-stats.me/api/codepen/pd/contact.png" />
      <span class="information">
        <strong>Contact Form</strong> The easiest way to add a contact form to your shop.
      </span>
    </div>
  </div>

  <div class="flex-wrapper image-flex">
    <div class="item">
      <img src="http://www.live-stats.me/api/codepen/pd/chimpified.png" />
      <span class="information">
        <strong>Chimpified</strong> Chimpified connects your Shopify store to your Mailchimp account.
      </span>
    </div>
  </div>

  <div class="flex-wrapper image-flex">
    <div class="item">
      <img src="http://www.live-stats.me/api/codepen/pd/olark.png" />
      <span class="information">
        <strong>Olark Chat</strong> Chat with your customers. Watch them fill their shopping carts.
      </span>
    </div>
  </div>

  <div class="flex-wrapper image-flex">
    <div class="item">
      <img src="http://www.live-stats.me/api/codepen/pd/jilt.png" />
      <span class="information">
        <strong>Jilt</strong> Jilt lets you easily and effectively follow up with customers who have abandoned their orders.
      </span>
    </div>
  </div>
  <div class="flex-wrapper image-flex">
    <div class="item">
      <img src="http://www.live-stats.me/api/codepen/pd/ordoro.png" />
      <span class="information">
        <strong>Ordoro</strong> Automate your backoffice: aggregate orders, manage inventory, print shipping labels.
      </span>
    </div>
  </div>
  <div class="flex-wrapper image-flex">
    <div class="item">
      <img src="http://www.live-stats.me/api/codepen/pd/yotpo.png" />
      <span class="information">
        <strong>Yotpo</strong> Social reviewing solution,increase your social engagement through social reviews.
      </span>
    </div>
  </div>

</div>
                      </div>
                    </div>
                </section>


                <section class="feature-product container-fluid marginBottom clearfix">
                  <div class="container clearfix">
                    <div class="row">
                      <div class="amProducts products-block-container">

                              <div class="products-entry">
                                <div class="col-md-3 col-sm-6 col-xs-12 product-outer marginSmBottom" ng-repeat="product in p.getProductByID([18, 5, 6, 8, 10, 13, 14, 12])">
                                  <div class="product-inner">
                                    <div class="product" >

                                      <div class="feature-image">
                                        <img src="{{product.src}}" class="img-responsive" alt="AdidasHoodie" />
                                      </div>

                                      <div class="product-details">
                                        <a href=""><h3>{{product.title}}</h3></a>
                                        <span>{{product.price | currency:"$":0}}</span>
                                        <a class="btn ambtn" ng-click="amCart.addItem(product.ID, product.title, product.src, product.price, 1)" title="Add to Cart"  href="#">Add to cart</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                      </div>

                    </div>
                  </div>
                </section>

                <section class="our-categories container-fluid marginBottom clearfix">
                  <div class="container clearfix">
                    <div class="row">
                      <header>

                          <div class="amtitle title-double-border title-center">
                            <h3>Our Categories</h3>
                          </div>

                      </header>

                      <div class="amcarousel">
                       <div class="swiper-wrapper">
                           <div class="swiper-slide">
                              <img src="images/product/T-shart1.jpg" />
                              <p>Beautiful T-shart</p>
                           </div>
                           <div class="swiper-slide">
                             <img src="images/product/Shart3.jpg" />
                             <p>beautiful Shart</p>
                         </div>
                           <div class="swiper-slide">
                             <img src="images/product/woman1.jpg" />
                             <p>Dress for woman</p>
                           </div>
                           <div class="swiper-slide">
                             <img src="images/product/Child1.jpg" />
                             <p>Dress for Child</p>
                           </div>
                           <div class="swiper-slide">
                             <img src="images/product/pizza1.jpg" />
                             <p>Delicious pizza</p>
                           </div>
                           <div class="swiper-slide">
                             <img src="images/slider/slider43.jpg" />
                             <p>Brand new car</p>
                           </div>
                           <div class="swiper-slide">
                             <img src="images/product/woman1.jpg" />
                             <p>Dress for woman</p>
                           </div>
                           <div class="swiper-slide">
                             <img src="images/product/Child1.jpg" />
                             <p>Dress for Child</p>
                           </div>
                           <div class="swiper-slide">
                             <img src="images/product/pizza1.jpg" />
                             <p>Delicious pizza</p>
                           </div>
                       </div>
                   </div>

                    </div>
                  </div>
                </section>
                <section class="content-block-outer am-parallax container-fluid paddingTop paddingBottom marginBottom">
                  <div class="container clearfix">
                    <div class="row">

                      <div class="col-md-4" am-animate="fadeIn" am-delay="100">
        								<div class="content-box text-center cb-bg">
        									<div class="content-box-outer">
        										<div class="content-box-inner">

        											<div class="content-box-icon">
        												<i class="fa fa-database fa-4x"></i>
        											</div>

        											<div class="content-box-content">
        												<h3><a href="">Firebase</a></h3>
        												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
        											</div>

        										</div>
        									</div>
        								</div>
        							</div>

        							<div class="col-md-4"  am-animate="fadeIn" am-delay="200">
        								<div class="content-box text-center cb-bg">
        									<div class="content-box-outer">
        										<div class="content-box-inner">

        											<div class="content-box-icon">
        												<i class="fa fa-wordpress fa-4x"></i>
        											</div>

        											<div class="content-box-content">
        												<h3><a href="">WordPress</a></h3>
        												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
        											</div>

        										</div>
        									</div>
        								</div>
        							</div>

        							<div class="col-md-4"  am-animate="fadeIn" am-delay="300">
        								<div class="content-box text-center cb-bg">
        									<div class="content-box-outer">
        										<div class="content-box-inner">

        											<div class="content-box-icon">
        												<i class="fa fa-code fa-4x"></i>
        											</div>

        											<div class="content-box-content">
        												<h3><a href="">Json</a></h3>
        												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ullamcorper nunc.Lorem ipsum dolor sit amet</p>
        											</div>

        										</div>
        									</div>
        								</div>
        							</div>


                    </div>

                  </div>
                </section>

                <section class="container-fluid marginBottom">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12 clearfix text-center">
                              <div class="amtitle title-double-border title-center">
                                <h3>Our clients</h3>
                              </div>
                              <h4>Our awesome clients we've had the pleasure to work with!</h4>
                        </div>
                        <div class="col-xs-12 clearfix">
                            <ul class="list-unstyled list-inline our-clients">
                                <li><img src="images/Brands/1.png"></li>
                                <li><img src="images/Brands/14.png"></li>
                                <li><img src="images/Brands/19.png"></li>
                                <li><img src="images/Brands/2.png"></li>
                                <li><img src="images/Brands/3.png"></li>
                                <li><img src="images/Brands/lamino.png"></li>
                                <li><img src="images/Brands/mbm.png"></li>
                                <li><img src="images/Brands/nova.png"></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                </section>
